/**
 * _urban.scss
 * Global css styles
 */
@import './utils/_variables.scss';
@import './components/ProgressCircle.scss';
@import './components/LoaderPage.scss';
@import './utils/_datePicker.scss';
@import './utils/_calendar.scss';

body
{
  color: $color_black;
}

.container
{
  padding: 0 42px 0;
}

p
{
  margin-bottom: 0
}

h1
{
  @include typographyBuilder(700, 40, 56);
}

h2
{
  @include typographyBuilder(700, 32, 48);
}

h3
{
  @include typographyBuilder(700, 28, 40);
}

[class*="auth"]
{
  [id*="gb-widget-"]
  {
    bottom: calc(14px + 60px + 12px) !important;
  }

  @media (max-width: #{$breakpoint_min_lg}) 
  {
    [id*="gb-widget-"]
    {
      bottom: calc(14px + 60px + 12px + 56px) !important;
    }

    [class*="grecaptcha-badge"]
    {
      bottom: calc(14px + 56px) !important;
      z-index: 2;
    }
  }
}

.maintenance
{
  &__container
  {
    @include flex(column, center, center);
    @include fixedWidth(100vw);
    @include fixedHeight(100vh);
    padding: 2em 2em 10em 2em !important;

    &--images
    {
      text-align: center;

      &-img
      {
        margin: 3em auto !important;
      }
    }
  }

  &__title
  {
    @include typographyBuilder(600, 24, 36);
  }

  &__info
  {
    @include typographyBuilder(400, 16, 20);
    max-width: 70% !important;
  }
}

@media (max-width: #{$breakpoint_min_sm}) 
{
  .container
  {
    padding: 0 18px;
  }
}