/**
* Color codes
* Color names are based from Figma
*/

$color_white                    : #FFFFFF;
$color_black                    : #222222;
$color_red                      : #F86466;
$color_red_other                : #E22134;
$color_red_light                : #f7dbdb;
$color_green                    : #6CC964;
$color_green_other              : #1DB954;
$color_yellow                   : #F1B208;
$color_tosca                    : #64B7C9;
$color_blue                     : #2E77D0;
$color_purple                   : #BB6BD9;
$color_brown                    : #BB9864;
$color_gray                     : #F7F7F7;
$color_gray_low                 : #EBEBEB;
$color_gray_semi_dark           : #BDBDBD;
$color_gray_dark                : #767676;
$color_orange                   : #FF9800;
$color_grey                     : #E4E6EB;
$color_light_black              : #65676B;
$color_light_blue               : #E1EAFF;
$color_light                    : #EDEDED;
$color_light_low                : #F4F4F4;
$color_elements_line            : #EEEEEE;
$color_elements_line_darker     : #E5E7EF;
$color_elements_placeholder     : #CFD4D9;
$color_state_red                : #E11900;
$color_danger_light             : #EA715A;

$color_elements                 : #F9F9FC;
$color_placeholder              : #D0D0D0;
$color_border                   : #DDDDDD;
$color_text                     : $color_black;
$color_text_secondary           : #666666;
$color_text_grey                : #A2A2A2;
$color_line_black               : #333333;
$color_error                    : #CC4534;
$color_info                     : #898989;
$color_secondary                : #969696;
$color_background_bank          : #F5F5F5;
$color_border_sso               : #DADCE0;

$color_facebook                 : #3473E3;
$color_twitter                  : #489AE9;
$color_youtube                  : #FF0000;
$color_tiktok                   : #000000;
