@import '../../utils/_variables.scss';
@import '../Buttons.module.scss';
@import '../Form.module.scss';

.sectionBreadcumb
{
  @include fixedWidth(50vw);
  padding: 0 99px;

  [class*="container-fluid"]
  {
    padding: 0;
  }
}

.ssoContainer
{
  @include fixedWidth(50vw);
  @include flex(column, center, center);
  padding: 0 99px;
  margin-top: 46px;
  padding-bottom: 300px;

  &::before
  {
    content: "";
    @include fixedWidth(100%);
    @include fixedHeight(1px);
    display: block;
    background: $color_elements_line_darker;
  }
}

.footer
{
  @include fixedWidth(50vw);
  text-align: center;
  padding: 0 99px;
  margin-top: .5rem;
}

.ssoOr
{
  @include SmallSmall;
  color: $color_text_secondary;
  margin-top: -10px;
  background: $color_white;
  padding: 0 21px;
}

.ssoGmailButton
{
  @include fixedSize(54px);
  @include flex(row, center, center);
  background-color: $color_elements !important;
  box-shadow: none !important;
  border-radius: 2px;
  margin: 0 12px;

  &:hover
  {
    opacity: .5;
  }
  
  & > div
  {
    background: $color_elements !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  span
  {
    display: none;
  }
}

.widgetLogin
{
  @include position(fixed, 0, 0);
  width: 50vw;
  height: 100vh;
  
  @media screen and (max-width: #{$breakpoint_max_md}) 
  {
    display: none;
  }
  
  img
  {
    width: 100% !important;
  }
  
}

.ssoFbButton
{
  content: "";
  @include flex();
  @include fixedSize(21px);
  font-size: 0;
  background: $color_white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M20.0072 0.875H1.99185C1.37495 0.875309 0.874846 1.37572 0.875 1.99277V20.0082C0.875309 20.6251 1.37572 21.1252 1.99277 21.125H20.0072C20.6244 21.1252 21.1248 20.6249 21.125 20.0077C21.125 20.0075 21.125 20.0074 21.125 20.0072V1.99185C21.1247 1.37495 20.6243 0.874846 20.0072 0.875Z' fill='%234267B2'/%3E%3Cpath d='M14.8562 21.1249V13.2938H17.4962L17.8917 10.2286H14.8562V8.27643C14.8562 7.39102 15.102 6.78771 16.3716 6.78771H17.9807V4.05361C17.7008 4.01638 16.7403 3.93311 15.6227 3.93311C13.2892 3.93311 11.6921 5.35693 11.6921 7.97285V10.2286H9.06201V13.2938H11.6921V21.1249H14.8562Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20.25' height='20.25' fill='white' transform='translate(0.875 0.875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

  &:hover
  {
    opacity: .7;
  }
}

.buttonWaEmail
{
  width: fit-content;
  border: 1px solid $color_border_sso;
  border-radius: 4px;
  background: transparent;
  padding: 8px;
  margin: 0 12px;
}

.emailIcon
{
  @include fixedSize(21px);
  display: block;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M0.243 5.85399L9.49 0.30999C9.64542 0.216739 9.82325 0.16748 10.0045 0.16748C10.1857 0.16748 10.3636 0.216739 10.519 0.30999L19.757 5.85499C19.8311 5.8994 19.8925 5.96227 19.9351 6.03746C19.9776 6.11264 20 6.19758 20 6.28399V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H1C0.734784 20 0.48043 19.8946 0.292893 19.7071C0.105357 19.5196 1.10073e-08 19.2652 1.10073e-08 19V6.28299C-1.81179e-05 6.19658 0.0223578 6.11164 0.0649455 6.03646C0.107533 5.96127 0.168879 5.8984 0.243 5.85399ZM16.346 7.24399L10.061 12.683L3.647 7.23799L2.353 8.76199L10.073 15.317L17.654 8.75699L16.346 7.24399Z' fill='%23666666'/%3E%3C/svg%3E");

  &:hover
  {
    opacity: .7;
  }
}

.waIcon
{
  @include fixedSize(21px);
  display: block;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M0.504013 20L1.85601 15.032C0.965151 13.5049 0.497109 11.768 0.500013 10C0.500013 4.477 4.97701 0 10.5 0C16.023 0 20.5 4.477 20.5 10C20.5 15.523 16.023 20 10.5 20C8.73279 20.0029 6.99667 19.5352 5.47001 18.645L0.504013 20ZM6.89101 5.308C6.76188 5.31602 6.63569 5.35003 6.52001 5.408C6.41153 5.46943 6.31251 5.54622 6.22601 5.636C6.10601 5.749 6.03801 5.847 5.96501 5.942C5.59542 6.423 5.39662 7.01342 5.40001 7.62C5.40201 8.11 5.53001 8.587 5.73001 9.033C6.13901 9.935 6.81201 10.89 7.70101 11.775C7.91501 11.988 8.12401 12.202 8.34901 12.401C9.4524 13.3725 10.7673 14.073 12.189 14.447L12.758 14.534C12.943 14.544 13.128 14.53 13.314 14.521C13.6053 14.506 13.8896 14.4271 14.147 14.29C14.313 14.202 14.391 14.158 14.53 14.07C14.53 14.07 14.573 14.042 14.655 13.98C14.79 13.88 14.873 13.809 14.985 13.692C15.068 13.606 15.14 13.505 15.195 13.39C15.273 13.227 15.351 12.916 15.383 12.657C15.407 12.459 15.4 12.351 15.397 12.284C15.393 12.177 15.304 12.066 15.207 12.019L14.625 11.758C14.625 11.758 13.755 11.379 13.224 11.137C13.168 11.1126 13.108 11.0987 13.047 11.096C12.9786 11.089 12.9095 11.0967 12.8443 11.1186C12.7791 11.1405 12.7193 11.1761 12.669 11.223V11.221C12.664 11.221 12.597 11.278 11.874 12.154C11.8325 12.2098 11.7754 12.2519 11.7098 12.2751C11.6443 12.2982 11.5733 12.3013 11.506 12.284C11.4409 12.2666 11.377 12.2445 11.315 12.218C11.191 12.166 11.148 12.146 11.063 12.109L11.058 12.107C10.4859 11.8572 9.95624 11.5198 9.48801 11.107C9.36201 10.997 9.24501 10.877 9.12501 10.761C8.73159 10.3842 8.38873 9.95801 8.10501 9.493L8.04601 9.398C8.00364 9.33416 7.96937 9.2653 7.94401 9.193C7.90601 9.046 8.00501 8.928 8.00501 8.928C8.00501 8.928 8.24801 8.662 8.36101 8.518C8.4551 8.39832 8.54289 8.27382 8.62401 8.145C8.74201 7.955 8.77901 7.76 8.71701 7.609C8.43701 6.925 8.14701 6.244 7.84901 5.568C7.79001 5.434 7.61501 5.338 7.45601 5.319C7.40201 5.313 7.34801 5.307 7.29401 5.303C7.15972 5.29633 7.02515 5.29766 6.89101 5.307V5.308Z' fill='%2353B671'/%3E%3C/svg%3E");  

  &:hover
  {
    opacity: .7;
  }
}

.ssoButtonContainer
{
  @include flex(row, center, center);
  @include fixedWidth(100%);
  margin-top: 24px;

  & > button:first-child
  {
    @extend .ssoGmailButton;
  }

  & > div 
  {
    margin: 0 12px;
  }

  & > button[class*="metro"]
  {
    @extend .ssoFbButton;
    margin: 0 12px;
    border: 1px solid $color_border_sso;
    border-radius: 4px;
    padding: 19px;
  }

  [class*="email"]
  {
    @extend .waIcon;
  }
  
  [class*="whatsapp-input"]
  {
    @extend .emailIcon;
  }
}

// formClasses
.inputFormContainer
{
  @include fixedWidth(50vw);
  padding: 0 99px;
}

.formWAContainer
{
  @include flex(column, flex-start, flex-start);
}

.disclaimer
{
  @include flex(row, center, center);
  @include typographyBuilder(400, 12, 16);
  position: relative;
  margin: 12px 0 0;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: $color_elements;
}

.inputFormTitle
{
  display: none;
}

.inputLabel
{
  display: none;
}

.inputWANumber
{
  @extend .form_input;
}

.inputFormDescription
{
  @include RegulerReguler;
  display: block;
  color: $color_text_secondary;
  margin: 24px 0;
}

.btnSubmit
{
  @extend .btn_primary;
  @include fixedHeight(52px);
  @include fixedWidth(100%);
  margin-top: 24px;
}

.inputDescription
{
  @include SmallSmall;
  background: $color_elements;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  color: $color_text_secondary;
  margin: 26px 0 12px;
}

//confirmationClasses
.confirmationContainer
{
  @extend .inputFormContainer;
  margin-top: 47px; 
}

.confirmationBackContainer
{
  @include flex(row, center, flex-start);
  margin-bottom: 4px;
  cursor: pointer;

  &:hover
  {
    opacity: .7;
  }

  &:before
  {
    content: "";
    @include fixedSize(12px);
    background-repeat: no-repeat;
    margin-right: 7px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M7.3785 0.500049L6.3785 1.50005H1.5V8.50005H8.5V3.62155L9.5 2.62155V9.00005C9.5 9.13266 9.44732 9.25984 9.35355 9.3536C9.25979 9.44737 9.13261 9.50005 9 9.50005H1C0.867392 9.50005 0.740215 9.44737 0.646447 9.3536C0.552678 9.25984 0.5 9.13266 0.5 9.00005V1.00005C0.5 0.867441 0.552678 0.740264 0.646447 0.646496C0.740215 0.552727 0.867392 0.500049 1 0.500049H7.3785ZM9.2425 0.0500488L9.95 0.758049L5.354 5.35405L4.648 5.35555L4.647 4.64705L9.2425 0.0500488Z' fill='black'/%3E%3C/svg%3E");
  }
}

.confirmationBackLabel
{
  @include ExtraSmallReguler;
}

.confirmationHeaderTitle
{
  @include h2;
  margin-bottom: 24px;
}

.confirmationHeaderSubtitle
{
  @include RegulerReguler;
}

.noWhatsAppLabel
{
  display: none;
}

.loginWithGoogle
{
  background-color: red;
}

.anotherLoginMethod
{
  @include RegulerReguler;
  margin: 0 auto;
  display: block;
  width: fit-content;
  cursor: pointer;

  &:hover
  {
    opacity: .7;
  }
}

.confirmationButtonOTP
{
  @extend .btn_primary;
  @include fixedHeight(52px);
  @include fixedWidth(100%);
  margin: 24px 0 26px;
}

//verificationClasses
.verificationContainer
{
  @extend .confirmationContainer;
}

.verificationTitle
{
  @include h2;
  margin-bottom: 24px;
}

.infoLabel
{
  @include RegulerReguler;
}

.footerLabel
{
  display: none;
}

.btnResendOTP
{
  @extend .btn_primary;
  @include fixedWidth(100%);
  @include fixedHeight(52px);
  margin-bottom: 38px;
}

.btnChangeMethod
{
  @extend .anotherLoginMethod;
}

.fieldOTPInputContainer
{
  @include flex(row, center, center);
  margin: 24px 0 ;
}

.fieldOTPInput
{
  @extend .form_input;
  @include fixedWidth(42px);
  @include fixedHeight(54px);
  @include LargeSemiBold;
  text-align: center;

  &:not(:first-child)
  {
    margin-left: 8px;
  }
}

.placeholderList
{
  height: 60px;
  width: 100%;
  margin-bottom: 12px;
}

.chooseAccountContainer
{
  @extend .verificationContainer;
}

.accountOptionsContainer
{
  margin-top: 24px;
}

.accountOption
{
  padding: 10px 16px;
  border: 1px solid $color_elements_line_darker;
  border-radius: 2px;
  cursor: pointer;

  &:not(:last-child)
  {
    margin-bottom: 12px;
  }
}

.selectedAccount
{
  border: 1px solid $color_black;
}

.accountName
{
  @include RegulerSemiBold;
  color: $color_black;
  text-transform: capitalize;
  margin: 0
}

.accountEmail
{
  @include SmallSmall;
  color: $color_text_secondary;
}

.btnChooseAccount
{
  @extend .btnResendOTP;
  margin-top: 24px;
}

@media screen and (max-width: #{$breakpoint_max_md}) 
{
  .ssoContainer
  {
    @include fixedWidth(100%);
    padding: 0 18px 142px;
  }
  
  .confirmationContainer,
  .inputFormContainer,
  .verificationContainer,
  .sectionBreadcumb
  {
    @include fixedWidth(100%);
    padding: 0 18px 0;
  }

  .footer
  {
    @include fixedWidth(100%);
    padding: 0 18px;
  }

  .confirmationButtonOTP
  {
    @include fixedWidth(100%);
  }
}