@import '../utils/_variables.scss';
@import '../components/Form.module.scss';
@import '../components/Buttons.module.scss';

.section
{
  @include flex(column, center, flex-start);
  
  p
  {
    @include RegulerReguler;
    color: $color_text_secondary;
    margin-top: 24px;
  }
}

.inner
{
  @include fixedWidth(520px);
  padding-bottom: 300px;
}

.input
{
  @extend .form_input;
  margin: 24px 0;
}

.button
{
  @extend .btn_primary;
  @include fixedWidth(100%);
  @include fixedHeight(52px);
  cursor: pointer;
}

@media (max-width: #{$breakpoint_min_sm}) 
{
  .inner
  {
    @include fixedWidth(100%);
  }
}
