@import '../utils/_variables.scss';
@import '../components/Buttons.module.scss';
@import '../components/Form.module.scss';
@import '../components/OrderSummary.module.scss';

.section
{
  @extend .grid;
  @include grid-(3);
  @include gap-x-(24px);
  margin: 24px auto 100px;
}

.paymentContainer
{
  @include col-span-(2);
}

.title
{
  @include RegulerSemiBold;
  margin-bottom: 12px;;
}

.paymentItemEnabled
{
  margin-bottom: 12px;
  padding: 16px 16px 10px 16px;
  border: 1px solid $color_placeholder;
  border-radius: 2px;
}

.paymentType
{
  @include flex(row, center, flex-start);
  @include RegulerReguler;
  cursor: pointer;

  &:hover
  {
    [class*="checkmark"]
    {
      border: 1px solid $color_black;

      &::before
      {
        content: "";
        @include fixedSize(12px);
        @include position(absolute, 50%, auto, auto, 15%);
        transform: translateY(-50%);
        display: block;
        border-radius: 100%;
        background: $color_black;
      }
    }
  }
}

.radioButtonContainer
{
  margin-right: 12px;
}

.radioButton
{
  display: none;

  &:checked + label
  {
    border: 1px solid $color_black;

    &::before
    {
      content: "";
      @include fixedSize(12px);
      @include position(absolute, 50%, auto, auto, 15%);
      transform: translateY(-50%);
      display: block;
      border-radius: 100%;
      background: $color_black;
    }
  }
}

.checkmark
{
  content: "";
  @include fixedSize(20px);
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  background: $color_white;
  border: 1px solid $color_placeholder;

  &:hover
  {
    border: 1px solid $color_black;

    &::before
    {
      content: "";
      @include fixedSize(12px);
      @include position(absolute, 50%, auto, auto, 15%);
      transform: translateY(-50%);
      display: block;
      border-radius: 100%;
      background: $color_black;
    }
  }
}

.paymentImg
{
  display: none;
}

.paymentWarningText
{
  @include SmallSmall;
  color: $color_red_other;
}

.paymentMethodDetails
{
  background: $color_elements;
  border-radius: 2px;
  padding: 16px;
  margin-top: 23px;
}

.paymentMethodDetailBody
{
  @include RegulerReguler;
}

.selectedPaymentMethod
{
  width: 100%;
}

.paymentDetailsRow
{
  @include flex(row, center, space-between);

  &:last-child
  {
    @include RegulerSemiBold;
    margin: 16px 0;
    padding-top: 16px;
    border-top: 1px dashed $color_text_secondary;
  }
}

.paymentDetailsValue
{
  text-align: right;
}

.paymentMethodDetailFooter
{
  @include flex(column, flex-start, flex-start);
}

.promotionButtonGroup
{
  @include fixedWidth(100%);
  order: 1;
}

.paymentItemDisabled
{
  @extend .paymentItemEnabled;
  background: $color_elements_line_darker;
  cursor: not-allowed;

  [class*="paymentType"]
  {
    cursor: not-allowed;

    &:hover
    {
      [class*="checkmark"]
      {
        background: $color_elements_line_darker !important;
    
        &::before
        {
          background: none;
          border: none !important;
        }
      }
    }
  }

  [class*="checkmark"]
  {
    background: $color_elements_line_darker !important;

    &::before
    {
      background: none;
      border: none !important;
    }
  }
}

.couponButton
{
  @extend .voucherButton;

  & > svg
  {
    margin-right: 16px;
  }
  
  &:after
  {
    display: none;
  }
}

.pointButton
{
  @extend .pointsButton;
  margin-top: 12px;
  
  & > svg
  {
    margin-right: 16px;
  }

  &:after
  {
    display: none;
  }
}

.agreementContainer
{
  @include SmallSmall;
  @include flex(row, center, center);
  @include fixedWidth(100%);
  text-align: center;
  color: $color_text_secondary;
  margin: 10px 0 20px;
  order: 2;
}

.agreementCheckbox
{
  cursor: pointer;
  margin-right: 8px;
}

.buttonContainer
{
  @include fixedWidth(100%);
  order: 3;
}

.button
{
  @extend .btn_primary;
  @include fixedWidth(100%);
  @include fixedHeight(52px);
  margin-bottom: 16px;

  &::before
  {
    content: "";
    @include fixedSize(16px);
    background-repeat: no-repeat;
    margin-right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14' viewBox='0 0 13 14' fill='none'%3E%3Cpath d='M11.1667 5.6667H11.8333C12.0101 5.6667 12.1797 5.73694 12.3047 5.86196C12.4298 5.98699 12.5 6.15656 12.5 6.33337V13C12.5 13.1768 12.4298 13.3464 12.3047 13.4714C12.1797 13.5965 12.0101 13.6667 11.8333 13.6667H1.16667C0.989856 13.6667 0.820286 13.5965 0.695262 13.4714C0.570238 13.3464 0.5 13.1768 0.5 13V6.33337C0.5 6.15656 0.570238 5.98699 0.695262 5.86196C0.820286 5.73694 0.989856 5.6667 1.16667 5.6667H1.83333V5.00003C1.83333 4.3872 1.95404 3.78036 2.18856 3.21418C2.42308 2.64799 2.76683 2.13354 3.20017 1.7002C3.63351 1.26686 4.14796 0.923117 4.71414 0.688595C5.28033 0.454073 5.88716 0.333366 6.5 0.333366C7.11284 0.333366 7.71967 0.454073 8.28586 0.688595C8.85204 0.923117 9.36649 1.26686 9.79983 1.7002C10.2332 2.13354 10.5769 2.64799 10.8114 3.21418C11.046 3.78036 11.1667 4.3872 11.1667 5.00003V5.6667ZM1.83333 7.00003V12.3334H11.1667V7.00003H1.83333ZM5.83333 8.33337H7.16667V11H5.83333V8.33337ZM9.83333 5.6667V5.00003C9.83333 4.11598 9.48214 3.26813 8.85702 2.64301C8.2319 2.01789 7.38406 1.6667 6.5 1.6667C5.61595 1.6667 4.7681 2.01789 4.14298 2.64301C3.51786 3.26813 3.16667 4.11598 3.16667 5.00003V5.6667H9.83333Z' fill='white'/%3E%3C/svg%3E");
  }
}

.basePrice
{
  @include SmallSmall;
  font-size: 14px;
  color: $color_text_secondary;
  text-decoration: line-through;
}

.salePrice
{
  margin-left: 8px;
}

.shippingPrice
{
  color: $color_text_secondary;
  text-decoration: line-through;
  font-size: 14px;
  
  &:only-of-type
  {
    @include RegulerReguler;
    color: $color_black;
    text-decoration: none;
  }
}

.shippingDiscount
{
  margin-left: 8px;
}

.paymentDetailsDeduction
{
  color: $color_red_other;
}

.placeholderList
{
  height: 30px;
  width: 100%;
  margin-bottom: 12px;
}

.placeholderCustomerDetailList
{
  height: 20px;
  width: 100%;
  margin-bottom: 12px;
  &:first-child
  {
    width: 30%;
  }

  &:nth-child(3)
  {
    width: 60%;
  }
  
  &:last-child
  {
    width: 80%;
  }
}

@media screen and (max-width: #{$breakpoint_max_md}) 
{
  .section
  {
    @include grid-(1);
    @include gap-x-(0px);
    @include gap-y-(24px);
  }

  .paymentContainer
  {
    @include col-span-(1);
  }

  .basePrice
  {
    display: block;
  }

  .shippingPrice
  {
    display: block;
  }
}
