@import '../utils/_variables.scss';
@import '../components/Buttons.module.scss';
@import '../components/Form.module.scss';

.section
{
  @extend .grid;
  @include grid-(3);
  @include gap-x-(24px);
  margin: 24px auto 100px;
}

.placeOrder
{
  @include col-span-(2);
}

.signupLabel,
.shippingCheckboxLabel
{
  @include RegulerReguler;
  margin-left: 12px;
}

.form
{
  @include fixedWidth(100%);
  order: 2;
}

.formGroup
{
  position: relative;
  margin-bottom: 12px;

  input[id="postalCode"]
  {
    @include fixedWidth(167px);
  }

  input[name="street"]
  {
    @include fixedHeight(84px);
  }
  
  label
  {
    @include position(absolute, 8px, auto, auto, 0);
    @include SmallSmall;
    color: $color_text_secondary;
    z-index: 2;
    margin-left: 16px;

    & > span
    {
      color: $color_red_other;
    }
  }

  &[class$="-placeholder"],
  &[class$="-Placeholder"]
  {
    @include RegulerReguler;
    white-space: nowrap;
    word-break: keep-all;
  }

  &[class$="-SingleValue"] 
  {
    @include textOverflow();
    padding-top: 18px;
  }

  input
  {
    padding-left: 16px;
  }

  select
  {
    padding-left: 12px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99999 5.17198L11.95 0.221985L13.364 1.63598L6.99999 7.99998L0.635986 1.63598L2.04999 0.221985L6.99999 5.17198Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
}

.input
{
  @extend .form_input;
  padding: 18px 0 0;
  min-height: 60px;

  & > select
  {
    min-height: 80px;
  }

  &[type="number"]
  {
    @include removeArrowsFromInput();
  }

  & > div
  {
    &[class^=" css-"][class$="-control"]
    {
      border: none;
      box-shadow: none;

      &::before
      {
        content: "";
        background: $color_white;
        color: $color_black;
        padding: 10px;
        border: none;
        margin-left: 12px;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3242_878)'%3E%3Cpath d='M15.0258 13.8478L18.595 17.4162L17.4158 18.5953L13.8475 15.0262C12.5198 16.0905 10.8683 16.6694 9.16666 16.667C5.02666 16.667 1.66666 13.307 1.66666 9.16699C1.66666 5.02699 5.02666 1.66699 9.16666 1.66699C13.3067 1.66699 16.6667 5.02699 16.6667 9.16699C16.6691 10.8687 16.0902 12.5201 15.0258 13.8478ZM13.3542 13.2295C14.4118 12.1419 15.0024 10.684 15 9.16699C15 5.94366 12.3892 3.33366 9.16666 3.33366C5.94332 3.33366 3.33332 5.94366 3.33332 9.16699C3.33332 12.3895 5.94332 15.0003 9.16666 15.0003C10.6837 15.0027 12.1416 14.4121 13.2292 13.3545L13.3542 13.2295Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3242_878'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &[class^=" css-"][class$="-menu"]
    {
      margin-top: 2px;
      z-index: 3;
    }
    &[class^=" css-"][class$="-Control"]
    {
      border: none;
      margin-top: -12px;
    }
    & > div
    {
      & > span
      {
        &[class^=" css-"][class$="-indicatorSeparator"]
        {
          display: none;
        }
      }
    }
  }
}

.billingAddressContainer
{
  @include flex(column-reverse, flex-start, flex-start);
  position: relative;
}

.loginLabel
{
  @include fixedWidth(100%);
  @include SmallSemiBold;
  height: 32px;
  padding: 8px 0;
  text-align: center;
  background: $color_elements;
  border: 1px solid $color_elements_line_darker;
  border-radius: 2px;
  margin-bottom: 15px;

  span
  {
    margin-left: 4px;
    color: $color_blue !important;
  }
}

.billingAddressHeader
{
  order: 3;
  width: 100%;
}

.billingAddressFooter
{
  order: 1;
}

.submitButton
{
  @extend .btn_primary;
  @include fixedHeight(52px);
  @include fixedWidth(340px);
  margin-top: 12px;
}

.orderSummaryBoxContainer
{
  @include fixedWidth(100%);
}

.passwordViewButton
{
  @include position(absolute, 20px, 10px);
  @extend .btn_transparent;
  padding: 0;
  width: fit-content;
}

.placeholderList
{
  height: 60px;
  width: 100%;
  margin-bottom: 12px;
}


@media screen and (max-width: #{$breakpoint_max_md}) 
{
  .section
  {
    @include grid-(1);
    @include gap-x-(0px);
    @include gap-y-(24px);
  }

  .submitButton
  {
    @include fixedWidth(100%);
  }
}