@import '../utils/_variables.scss';
@import '../components/Form.module.scss';
@import '../components/Buttons.module.scss';


.section
{
  @include flex(column, center, flex-start);
  
  p
  {
    @include RegulerReguler;
    color: $color_text_secondary;
    margin-top: 24px;
  }
}

.container
{
  @include fixedWidth(520px);
  padding-bottom: 300px;
  margin-top: 24px;
}

.inputContainer
{
  position: relative;
  margin-bottom: 12px;
}

.input
{
  @extend .form_input;
}

.passwordViewButton
{
  @include position(absolute, 18px, 10px);
  @extend .btn_transparent;
  padding: 0;
  width: fit-content;
}

.button
{
  @extend .btn_primary;
  @include fixedWidth(100%);
  @include fixedHeight(52px);
  margin-top: 24px;
}

@media (max-width: #{$breakpoint_min_sm}) 
{
  .container
  {
    @include fixedWidth(100%);
  }
}

