@import '../utils/_variables.scss';

.tautan
{
  @include fixedWidth(100%);
  min-height: 100vh;
  text-align: center;
  padding-bottom: 60px;
  
  &_container
  {
    @include flex(row, center, center);
  }

  &_logo
  {
    width: 80px;
    margin-top: 74px;
    margin-bottom: 60px;
  }

  &_layout
  {
    & [class*="layout_inner"]
    {
      width: 630px;
      min-height: fit-content;
    }
  }

  &_title
  {
    @include fontPrimary(500);
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 6px;
  }

  &_description
  {
    margin-bottom: 10vh;
  }

  &_linkSection
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 366px;
    height: 47px;
    padding: 0 13px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    cursor: pointer;
    margin: 16px auto;

    &:hover,
    &:active
    {
      opacity: .7;
    }
  }

  &_labelText
  {
    @include fontPrimary(400);
    flex: 0 0 auto;
    order: 2;
    
    & > p
    {
      text-align: left;
      margin: 0;
    }
  }

  &_labelImage
  {
    flex: 0 1 auto;
    margin-right: 12px;
    order: 1;

    img
    {
      width: 21px;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 575px) 
{
  .tautan 
  {
    &_layout 
    {
      & [class*="layout_inner"]
      {
         width: 100%;
      }
    }
  }
}
@media (max-width: 767px)
{
  .tautan {
    &_linkSection 
    {
      width: 90vw;
    }
  }
}
