@import "../utils/_variables.scss";
@import "../components/Buttons.module.scss";

.thankyou
{
  &_container
  {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    min-height: 60vh;

    @media screen and (max-width: 768px) 
    {
      min-height: 72.5vh;
    }

    @media screen and (max-width: 575px) 
    {
      min-height: 65vh;
    }

    &_titlePrimary
    {
      font-size: 22px;
      text-align: center;
      color: $color_green;
    }
  }

  &_label 
  {
    display: block ruby;
  }

  &_message 
  {
    @include RegulerReguler;
    text-align: center;
    margin: 20px 0px;
  }

  &_orderID 
  {
    margin-bottom: 12px;
    font-size: 16px;

    span 
    {
      font-weight: bold;
      text-align: center;
      margin: auto;
      display: block;
    }
  }

  &_inner
  {
    width: 500px;
    align-items: center;

    @media screen and (max-width: 767px) 
    {
      width: 100%;
    }

    &__icon
    {
      display: none;
    }

    h3
    {
      display: none
    }
  }

  &_breadcumbSection
  {
    position: relative;

    &::after
    {
      content: "";
      @include position(absolute, 52px, 186px);
      @include fixedSize(42px);
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42' fill='none'%3E%3Crect width='42' height='42' rx='2' fill='%23333333'/%3E%3Cpath d='M21 31C15.477 31 11 26.523 11 21C11 15.477 15.477 11 21 11C26.523 11 31 15.477 31 21C31 26.523 26.523 31 21 31ZM20.003 25L27.073 17.929L25.659 16.515L20.003 22.172L17.174 19.343L15.76 20.757L20.003 25Z' fill='%231DB954'/%3E%3C/svg%3E");
 
      @media screen and (max-width: 767px) 
      {
        @include position(absolute, 115px, 17px);
      }
    }
    
  }

  &_button
  {
    @extend .btn_primary;
    @include fixedWidth(100%);
    @include fixedHeight(52px);
    margin-top: 24px;
  }
}

.placeholderList
{
  height: 30px;
  width: 100%;
  margin-bottom: 12px;
}