@import '../utils/_variables.scss';

.bannerCarousel {
  a
  {
      width: 100%;
  }

  &__header
  {
      flex: 0 0 100%;
      text-align: center;
      cursor: pointer;
  }

  &__image
  {
      width: 100%;
  }

  .slick-slider,
  .slick-list
  {
    @include fixedWidth(100%);
    @include fixedHeight(100%);
  }

  .slick-dots {
      bottom: 25px;
  }

  .slick-active {
      button {
          &::before {
              color: $color-white;
          }
      }
  }
}

@media (max-width: #{$breakpoint_min_sm}) 
{
  .bannerCarousel
  {
    margin-top: 70px;
  }
}

