@import "../utils/mixins";
@import "../utils/_variables.scss";

.btn 
{
  $this: &;

  @include transition();
  @include typography_builder(800, 14, 18);
  @include truncate(1);
  @include flex(row, center, center);
  text-decoration: none;
  text-align: center;
  border-radius: 2px;

  width: fit-content;
  margin: 0;
  padding: 15px 20px;
  cursor: pointer;
  
  & > svg
  {
    margin-right: 5px;
  }

  &:disabled
  {
    @include buttonVariant($color_grey, $color_white, $color_grey);
    cursor: not-allowed;

    &:hover
    {
      border-color: $color_grey !important;
      color: $color_grey !important;
    }
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle 
  {
    text-decoration: none;
    outline: 0;

    & > svg
    {
      color: $color_black;
    }  
  }

  &_long
  {
    @extend .btn;
    width: 100%;
  }

  &_transparent
  {
    @extend .btn;
    width: 100%;
    padding: 0;
    border: none;
    @include buttonVariant($color_black, transparent, transparent);
  }

  &_iconHover
  {
    @include fixedSize(16px);
    content: "";
    background-repeat: no-repeat;
    margin: 4px 0 0 12px;
  }

  &_primary
  {
    @include flex(row, center, center);
    color: $color_white;
    background-color: $color_black !important;
    border: 1px solid $color_black !important;
    border-radius: 2px;

    &:hover,
    &:focus,
    &:active
    {
      color: $color_white;
      background-color: $color_black !important;

      &::after
      {
        @extend .btn_iconHover;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.28141 5.33333L4.70541 1.75733L5.64808 0.814667L10.8334 6L5.64808 11.1853L4.70541 10.2427L8.28141 6.66667H0.166748V5.33333H8.28141Z' fill='white'/%3E%3C/svg%3E%0A");
      } 
    }

    &:disabled
    {
      cursor: not-allowed;
      background-color: $color_elements_line_darker !important;
      border: none !important;

      &::after
      {
        display: none;
        background-image: none;
      } 
    }

  }
  
  &_secondary
  {
    @include flex(row, center, center);
    color: $color_black;
    background-color: $color_white;
    border: 1px solid $color_black;
    border-radius: 2px;
    
    &:hover,
    &:focus,
    &:active
    {
      color: $color_black;
      background-color: $color_white;
      border: 1px solid $color_black;

      &::after
      {
        @extend .btn_iconHover;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='12' viewBox='0 0 11 12' fill='none'%3E%3Cpath d='M8.28141 5.33333L4.70541 1.75733L5.64808 0.814667L10.8334 6L5.64808 11.1853L4.70541 10.2427L8.28141 6.66667H0.166748V5.33333H8.28141Z' fill='%23222222'/%3E%3C/svg%3E");
      } 
    }
  }

  &_text
  {
    @extend .btn_secondary;
    border: 1px solid $color_white;
    
    &:hover,
    &:focus,
    &:active
    {
      border: 1px solid $color_white;

      &::after
      {
        @extend .btn_iconHover;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='12' viewBox='0 0 11 12' fill='none'%3E%3Cpath d='M8.28141 5.33333L4.70541 1.75733L5.64808 0.814667L10.8334 6L5.64808 11.1853L4.70541 10.2427L8.28141 6.66667H0.166748V5.33333H8.28141Z' fill='%23222222'/%3E%3C/svg%3E");
      } 
    }
  }
  
  &_animated
  {
    @include transition(ease, 0.3s);
  }
  
  &_light
  {
    @extend .btn;
    @include buttonVariant($color_blue, $color_light_blue, $color_light_blue);
  }

  &_red
  {
    @extend .btn;
    @include buttonVariant($color_white, $color_red, $color_red);
  }

  &_green
  {
    @extend .btn;
    @include buttonVariant($color_white, $color_green, $color_green);
  }

  &_grey
  {
    @extend .btn;
    @include buttonVariant($color_black, $color_grey, $color_grey);
  }

  &_longLight
  {
    @extend 
      .btn_long,
      .btn_light;
  }

  &_longGrey
  {
    @extend 
      .btn_long,
      .btn_grey;
  }

  &_withGoogleButton
  {
    width: 100%;
    height: 48px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_grey !important;
    border-radius: 6px !important;
    box-shadow: none !important;
   
    span
    {
      @include typography_builder(400, 14, 18);
      color: $color_black !important;
      text-transform: uppercase;
    }

    &:hover
    {
      border: 1px solid $color_blue !important;
    }

    & + label
    {
      display: flex; 
      justify-content: center;
      position: relative;
      margin: 30px 0;
      
      span
      {
        background-color: $color_white;
        padding: 0 12px;
        z-index: 2;

        @include typography_builder(800, 14, 18);
        color: $color_light_black;
        text-transform: capitalize;
      }

      &::before
      {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background: $color_grey;
      }
    }
  }
}

@media (max-width: #{$breakpoint_min_sm}) 
{
  .btn 
  {
    padding: 10px 30px;

    &_sm 
    {
      &__block 
      {
        width: 100%;
        @include flex(row, center, center);
        flex-wrap: nowrap;
        white-space: nowrap;
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
