@import '../utils/variables';

.btn
{
  @include transition();
  @include flex(row, center, center);
  @include buttonVariant($color_white, $color_black, $color_black);
  @include typographyBuilder(400, 16, 24);
  border-radius: 2px;
  padding: 14px 15px;

  &:hover,
  &:active,
  &:focus
  {
    outline: 0;
    box-shadow: none;
  }

  &[disabled]
  {
    opacity: 0.7;
  }

  &_long,
  &__long
  {
    @include fixedWidth(100%);
  }
}