@import '../utils/_variables.scss';
@import './Placeholder.module.scss';
@import '../components/Form.module.scss';
@import '../components/Buttons.module.scss';

.section
{
  border: 1px solid $color_elements_line_darker;
  padding: 16px;
  margin: 0 0 16px 0;
  background: $color_elements;
  max-height: 228px;
  overflow: hidden;
}

.container
{
  max-height: 300px;
}

.cartHeader
{
  display: none;
}

.header
{
  @include flex(row, center, space-between);
  margin-bottom: 12px;
}

.changeCart
{
  @include SmallSmall;
  @include flex(row, center, flex-start);
  color: $color_blue;
  cursor: pointer;

  &:hover
  {
    opacity: .7;
  }

  &::before
  {
    content: "";
    @include fixedSize(12px);
    display: block;
    margin: 3px 6px 0 0;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10' fill='none'%3E%3Cpath d='M2.21859 5.00048L5.51858 8.30048L4.57592 9.24315L0.333252 5.00048L4.57592 0.757812L5.51858 1.70048L2.21859 5.00048Z' fill='%232E77D0'/%3E%3C/svg%3E");
  }
}

.cartBody
{
  padding: 8px;
  background: $color_white;
  max-height: 168px;
  overflow-y: auto;
  @extend .scrollbar_secondary;
}

.item
{
  position: relative;
  display: grid;
  grid-template-columns: 64px 64px auto;
  column-gap: 16px;
  padding: 12px 0;
  border-bottom: 1px solid $color_elements;
  margin-bottom: 0;
}

.itemImage
{
  width: 64px;
  grid-row:  1 / span 4;
  border-radius: 2px;

  img
  {
    width: 100%;
  }
}

.itemTitle
{
  @include RegulerReguler;
  @include col-span-(2);
  margin-bottom: 10px;
}

.title
{
  @include SmallSmall;
  margin-bottom: 0;
  display: inline-block;
}

.selectedVariantContainer
{
  @include flex(row, center, flex-start);
  @include SmallSmall;
  display: inline-block;
  text-transform: capitalize;

  &::before
  {
    content: ",";
    margin-right: 4px;
  }
}

.selectedVariant
{
  display: inline-block;
}

.itemRegularPrice
{
  @include SmallSmall;
  color: $color_text_secondary;

  &:not(:only-of-type)
  {
    @include typography_builder(400, 12, 12);
    text-decoration: line-through;
    color: $color_grey;
  }
}

.itemPrice
{
  @include grid-start-(3,2);
  align-self: center;
}

.itemSalePrice
{
  @include SmallSemiBold;
  color: $color_error;
}

.itemQty
{
  @include grid-start-(2, 2);
}

.qtyBox
{
  position: relative;
  @include removeArrowsFromInput;

  input[type="number"]
  {
    @extend .form_input;
    border: 1px solid $color_placeholder;
    margin-bottom: 0;
    width: 100%;
    height: 56px;
  }
}

.changeQtyButton
{
  @extend .btn_transparent;
  border: none !important;
  outline: none !important;
  padding: 0;
  width: 10px;

  &:first-child
  {
    @include position(absolute, auto, 10px, 8px);
    @include fontSize(0);
    @include fixedSize(12px, true);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M4.99984 5.99977L0.756836 1.75677L2.17184 0.342773L4.99984 3.17177L7.82784 0.342773L9.24284 1.75677L4.99984 5.99977Z' fill='%23222222'/%3E%3C/svg%3E");
  }
  
  &:last-child
  {
    @include position(absolute, 13px, 10px);
    @include fontSize(0);
    @include fixedSize(12px, true);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M4.99984 2.828L2.17184 5.657L0.756836 4.243L4.99984 0L9.24284 4.243L7.82784 5.657L4.99984 2.828Z' fill='%23222222'/%3E%3C/svg%3E");
  }

  &:disabled
  {
    pointer-events: none;
    cursor: not-allowed;
    border-color: $color_white !important;
    outline: none !important;
  }
}

.itemNote
{
  grid-row: 5;
  grid-column: 2/4;

  @include flex(column, left, left);
  @include typographyBuilder(600, 12, 16);
  margin: 10px 25% 0 0;
  text-transform: none;
  color: $color_black;

  button
  {
    @include fontSize(12);
    border: none;
    padding: 5px 0;
    width: fit-content;
    background-color: transparent;

    span
    {
      vertical-align: top;
      color: $color_blue;
      display: inline-block;
    }
  }

  input
  {
    border: 1px solid $color_light;
    padding: 10px 15px;
    margin-bottom: 3px;
    outline: none;
  }
}

.itemEditNote
{
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 5px 0 0;
  background-color: $color_red_light;
  border-radius: 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95 1.91439L7.071 4.03589L2.121 8.98539H0V6.86389L4.95 1.91389V1.91439ZM5.657 1.20739L6.7175 0.146393C6.81126 0.0526573 6.93842 -4.76837e-07 7.071 -4.76837e-07C7.20358 -4.76837e-07 7.33074 0.0526573 7.4245 0.146393L8.839 1.56089C8.93274 1.65466 8.98539 1.78181 8.98539 1.91439C8.98539 2.04698 8.93274 2.17413 8.839 2.26789L7.778 3.32839L5.657 1.20739Z' fill='%23F62805'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  & ~ span
  {
    color: $color_black !important;
  }
}

.itemAmount
{
  @include grid-start-(2, 4);
  @include RegulerSemiBold;
  position: relative;
  margin-top: 8px;

  &:before
  {
    content: "Total";
    @include SmallSmall;
    color: $color_text_secondary;
  }
}

.itemRemove
{
  @include absolute(auto, 0, 14px, auto);
}

.removeButton
{
  @include fixedSize(40px);
  @include flex(row, center, center);
  cursor: pointer;
  background: $color_elements_line;
  border-radius: 2px;

  &:hover
  {
    opacity: .7
  }
  
  svg
  {
    @include fixedSize(14px);
    color: $color_black;
  }
}

.itemRegularAmount
{
  @include SmallSemiBold;
  font-size: 14px;
  font-size: 1;
}

.placeholderContainer
{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 20px auto;
  column-gap: 16px;
  row-gap: 8px;
  margin-bottom: 8px;
}

.placeholderList
{
  @extend .placeholderItem;
  height: 20px;
  width: 100%;

  &:nth-child(3)
  {
    width: 60%;
  }
  
  &:last-child
  {
    width: 80%;
  }
}

.placeholderImage
{
  @extend .placeholderItem;
  grid-row:  1 / span 3;
  height: 125px;
  width: 100%;
}