@import '../utils/_variables.scss';
@import './Popup.module.scss';

.estimateShippingWrapper
{
  @include fixedWidth(100%);
  position: relative;
}

.estimateShippingTitle
{
  @include SmallSemiBold;
  margin-bottom: 8px;
}

.estimateShippingLogo
{
  @include position(absolute, auto, 36px);
  @include flex(row);
  @include fixedWidth(34px);
  
  &::before
  {
    content: "";
    @include fixedSize(10px);
    @include position(absolute, auto, -22px);
    display: block;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10' fill='none'%3E%3Cpath d='M3.78134 5.00001L0.481339 1.70001L1.424 0.757339L5.66667 5.00001L1.424 9.24267L0.481339 8.30001L3.78134 5.00001Z' fill='%23222222'/%3E%3C/svg%3E");
  }
}

.estimateShippingLogoImg
{
  @include fixedWidth(34px);
  @include fixedHeight(24px);
}

.estimateShippingDetail
{
  @include fixedHeight(58px);
  @include flex(row, center, flex-start);
  position: relative;
  padding: 0 12px;
  border-radius: 2px;
  background-color: $color_elements;

  &:hover
  {
    opacity: .7;
  }
}

.estimateShippingShowCourier
{
  @include position(absolute, 0, 0, 0, 0);
  cursor: pointer;
  font-size: 0;
}

.estimateShippingCost
{
  @include SmallSemiBold;
}

.estimateShippingPopupContainer
{
  @extend .popup_overlay;
}

.estimateShippingPopupContent
{
  @extend .popup_container;
  @include flex(column, flex-start, flex-start);
  width: 560px;
  min-height: 474px;
  max-width: 100%;
  border-radius: 4px;
}

.estimateShippingPopupHeader
{
  width: 100%;
}

.estimateShippingPopupTitle
{
  @include RegulerSemiBold;
  padding: 16px;
  border-bottom: 1px solid $color_geyser;
}

.estimateShippingPopupButtonClose
{
  svg
  {
    @include position(absolute, 20px, 15px);
    @include fixedSize(16px);
    cursor: pointer;
  }
}

.estimateShippingPopupBody
{
  width: 100%;
  align-self: center;
  padding: 16px 28px;
  background: $color_elements;
  border-radius: 2px;
}

.estimateShippingPopupLineInfo
{
  @extend .grid;
  @include gap-x-(42px);
  grid-template-columns: 50px auto;
  padding: 12px 0;
  border-bottom: 1px solid $color_elements_line;

  &:last-child
  {
    @include grid-(1);
    border-bottom: none;

    [class*="estimateShippingPopupLabel"]
    {
      margin-bottom: 8px;
    }
  }
}

.estimateShippingPopupLabel
{
  @include SmallSemiBold;
  color: $color_black;
}

.estimateShippingPopupProviderValueContainer
{
  @include flex(column);
}

.estimateShippingPopupProviderImg
{
  @include grid-start-(1, 1);
  @include row-span-(2);
  @include fixedWidth(34px);

  img
  {
    @include fixedWidth(34px);
  }
}

.estimateShippingPopupProviderLabel
{
  @include SmallSemiBold;
  margin-left: 12px;
  flex-grow: 1;
  margin-right: auto;

  &:last-child
  {
    border-bottom: 0;
  }

  @media screen and (max-width: 575px)
  {
    max-width: 44%;
    white-space: break-spaces;
  }
}

.estimateShippingPopupLineProvider
{
  @include flex(row, flex-start, space-between);
  padding: 12px 0;
}

.estimateShippingPopupProviderDiscountedValueContainer
{
  @include flex(row);
}

.estimateShippingPopupProviderDiscountedValuePercentage
{
  @include typographyBuilder(500, 10, 16);
  background: $color_elements_line_darker;
  color: $color_text_secondary;
  border-radius: 3px;
  padding: 3px;
  margin-right: 5px;
}

.estimateShippingPopupProviderDiscountedValuePrice
{
  @include SmallSmall;
  color: $color_text_secondary;
  text-decoration: line-through;
  align-self: flex-end;
}

.estimateShippingPopupValue
{
  @include SmallSmall;
}

.estimateShippingPopupProvider
{
  @extend .scrollbar_main;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  padding: 0 16px 16px;
}

.estimateShippingPopupProviderValue
{
  @include SmallSmall;
}