@import '../utils/variables';

.footer
{
  display: block;
  position: relative;
  margin: 58px 0 0 300px;
  padding: 0 calc(42px - 15px);
  background-color: $color_black;
  color: $color_white;

  &_top,
  &_bottom
  {
    padding: 40px 0 0;
  }

  &_loading
  {
    @include flex(row, flex-start, flex-start);
    @include typographyBuilder(400, 12, 16);
    color: $color_white;
    position: relative;
    margin: 0;
    padding: 0;
  }

  &_copyright
  {
    @include flex(row, center, flex-start);
    @include typographyBuilder(400, 12, 16);
    position: relative;
    margin: 0;
    padding: 12px 0;
    color: $color_white;
  }

  &Item
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_white;
    position: relative;
    margin: 0;
    padding: 0;

    &_content
    {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;

      h1, h2, h3, h4, h5, h6
      {
        @include flex(row, center, flex-start);
        @include typographyBuilder(700, 16, 24);
        position: relative;
        margin: 0;
        padding: 0;
        color: $color_white;

        &:first-of-type,
        &:first-child,
        &:only-child,
        &:only-of-type
        {
          margin-bottom: 16px;
        }
      }

      figure,
      img,
      video,
      iframe,
      object
      {
        max-width: 100%;
      }

      img
      {
        display: block;
        position: relative;
        margin: 0 0 12px;
        padding: 0;
        max-width: 100%;
        border: none;
      }

      ul,
      ol
      {
        margin: 0 0 8px;
        padding: 0;

        li
        {
          margin: 0;
          padding: 0;
          list-style: none;

          & + li
          {
            margin-top: 8px;
          }
        }
      }

      a
      {
        @include transition();
        @include flex(row, center, flex-start);
        position: relative;
        margin: 0;
        padding: 0;
        color: $color_white;
        text-decoration: none;
        text-align: left;

        &:hover,
        &:focus,
        &:active
        {
          color: $color_white;
          text-decoration: none;
        }

        &:hover
        {
          text-decoration: underline;
        }
      }
    }
  }

  &Newsletter
  {
    @include transition();
    @include flex(row, center, flex-start, false);
    @include fixedHeight(60px);
    position: relative;
    margin: 0;
    padding: 0;
    border: solid 1px $color_text_secondary;
    border-radius: 2px;

    &_label
    {
      display: none;
    }

    &_input,
    &_button
    {
      @include transition();
      @include fixedHeight(100%);
      @include placeholderColor($color_text_secondary);
      position: relative;
      margin: 0;
      color: $color_white;
      background-color: transparent;
      box-shadow: 0 0 0 transparent;
      border: none;

      &:hover,
      &:focus,
      &:active
      {
        outline: none;
        box-shadow: 0 0 0 transparent;
      }
    }

    &_input
    {
      flex-grow: 1;
      padding: 0 0 0 16px;
    }

    &_button
    {
      padding: 0 20px;
      color: $color_placeholder;

      &:hover
      {
        color: $color_white;
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint_max_md})
{
  .footer
  {
    &Item
    {
      padding: 0 3px;

      &_content
      {
        pointer-events: none;

        *
        {
          pointer-events: auto;
        }

        h1, h2, h3, h4, h5, h6
        {
          &:first-of-type,
          &:first-child,
          &:only-child,
          &:only-of-type
          {
            min-height: 72px;
            margin-top: -72px;
            max-width: calc(100% - 48px);
          }
        }
      }
    }

    &_copyright
    {
      padding: 12px 3px;

      &::before
      {
        content: "";
        display: block;
        @include absolute(0, auto, auto, 0);
        @include fixedHeight(1px);
        @include fixedWidth(32px);
        background-color: $color_white;
      }
    }
  }
}