@import '../utils/_variables.scss';
@import './Buttons.module.scss';
@import './Popup.module.scss';

.mapNote
{
  @include position(absolute);
  top: 22px !important;
}

.mapSelectArea
{
  @extend .btn_transparent;
  @include SmallSemiBold;
  height: 103px;
  border: 1px solid $color_placeholder;
  color: $color_text_secondary;
  background-color: $color_white;
  
  &:hover
  {
    border: 1px solid $color_placeholder;
    background-color: $color_white;
  }
}

.mapArea
{
  border: 1px solid $color_elements_placeholder;
  position: relative;
  border-radius: 2px;

  & > div
  {
    position: relative;
    width: calc(100% - 32px);
    height: calc(143px - 51px);
    margin: 40px auto 16px auto;
  }
}

.mapPopup
{
  @extend .popup_overlay;

  & [class*="autocomplete-dropdown-container"]
  {
    @include position(absolute, 50px, auto, auto, 24px);
    z-index: 1;
    width: calc(100% - 35px);
    border: 1px solid $color_elements_line_darker;
    background: $color_white;
    text-align: left;

    div 
    {
      padding: 10px;
    }

    div:nth-child(odd) 
    {
      background-color: $color_white !important;
    }

    div:nth-child(even) 
    {
      background-color: $color_elements_line !important;
    }
  }
}

.mapPopupBackground
{
  @extend .popup_container;
  @include fixedWidth(704px);
}

.map
{
  @include fixedHeight(333px);
  position: relative;

  input
  {
    @include position(absolute, 12px, auto, auto, 24px);
    @include SmallSmall;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0 12px;
    width: 277px;
    border: none;
    outline: none;
    z-index: 2;
    border-radius: 2px;
    height: 34px;
    color: $color_placeholder;

  }
}

.mapHeaderWrapper
{
  @include flex(row, center, center);
  @include fixedWidth(100%);
  position: relative;
  width: 100%;
  padding: 0 18px;
  height: 48px;
}

.mapHeaderTitle
{
  @include RegulerReguler;
  width: fit-content;
  margin: 0 auto;
}

.mapHeaderCloseButton
{
  @include position(absolute, 18px, 18px);
  @extend .btn_transparent;
  width: fit-content;
  padding: 0 !important;
  background: $color_white;
  color: $color_black;
  border: none;

  &:hover
  {
    background: $color_white;
    color: $color_black;
    border: none;
  }

  svg
  {
    margin: 0;
  }
}

.mapLabelAddress
{
  @include flex(row, center, flex-start);
  @include SmallSmall;
  padding: 8px 16px;
  height: fit-content;
  border-bottom: 1px solid $color_elements_line_darker;
}

.mapCenterButton
{
  @include position(absolute, 12px , 12px);
  @include fixedSize(34px);
  @extend .btn_transparent;
  background-color: $color_white;
  border-radius: 2px;
  width: fit-content;
  z-index: 2;
  padding: 0 !important;
  background: $color_white;
  color: $color_black;
  border: none;

  &:hover
  {
    background: $color_white;
    color: $color_black;
    border: none;
  }

  svg
  {
    margin-right: 0;
  }
}

.mapButtonFooter
{
  @extend .btn_primary;
  width: calc(100% - 32px);
  height: 52px;
  background-color: $color_black !important;
  margin: 16px auto;
  
  &:hover
  {
    background-color: $color_black !important;
  }
}

@media screen and (max-width: #{$breakpoint_max_md}) 
{
  .map
  {
    @include fixedHeight(calc(100vh - 164px))
  }

  .mapPopupBackground
  {
    @include fixedWidth(100%);
    @include fixedHeight(100vh);
    animation: none;
  }
}