@import "../utils/_variables.scss";
@import "../utils/_scrollbar.scss";
@import "./Form.module.scss";
@import "./Button.module.scss";


.newsletter
{
  &_popupContainer
  {
    @include position(fixed, auto, 42px, -600px);
    @include transition();
    border-radius: 2px;
    z-index: 30;
    width: fit-content;
    height: fit-content;
    max-height: 336px;
    animation: animateUp 2s ease forwards;
  }
  
  &_popupInner
  {
    position: relative;
    padding: 24px 24px 88px 24px;
    background-color: $color_white;
    max-width: 340px;
    overflow-y: auto;

    h1,h2,h3,h4,h5,h6
    {
      @include typography_builder(400, 25, 40);
      margin-bottom: 12px;
    }

    img
    {
      display: none;
    }

    p
    {
      @include typography_builder(400, 12, 16);
      margin-bottom: 0;
    }
  }

  &_input
  {
    @extend .form_input;
    margin: 1rem 0;
  }

  &_button
  {
    @extend .btn;
    @include button-variant($color_white, $color_black, $color_black);
    @include typography_builder(400, 16, 24);
    width: 100%;
    height: 48px;
  }

  &_label
  {
    display: none;
  }

  &_close
  {
    @include position(absolute, auto, 0, 24px, 0);
    @include typography_builder(400, 16, 24);
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  @media (max-width: #{$breakpoint_min_sm})
  {
    &_popupContainer 
    {
      @include position(fixed, auto, 16px, -600px, 16px);
      width: calc(100vw - 32px);
      animation: animateUp 2s ease forwards;
    }
    
    &_popupInner
    {
      max-width: calc(100vw - 32px);
    }
  }
}

@keyframes animateUp 
{
  0%{opacity: 0}
  70%{ transform: translateY(-662px); opacity: .5}
  100%{ transform: translateY(-642px); opacity: 1}
}

