@import '../utils/_variables.scss';
@import './Form.module.scss';
@import './Buttons.module.scss';

.notifyMe
{
  width: 100%;
}

.notifyMeLabel
{
  @include SmallSemiBold;
  margin-bottom: 8px;
}

.notifyMeInput
{
  @extend .form_input;
}

.notifyMeSubmit
{
  @extend .btn_primary;
  @include fixedHeight(52px);
  @include fixedWidth(100%);
  @include RegulerReguler;
  margin-top: 24px;

  svg
  {
    margin-right: 11px;
  }
}

.popupErrorContainer
{
  @include flex(column, center, flex-start);
  padding: 24px 16px;
  border-top: 4px solid $color_red_other;
  @include fixedWidth(100%);
  border-radius: 2px 2px 0 0,
}

.popupSuccessContainer
{
  @include flex(column, center, flex-start);
  padding: 24px 16px;
  border-top: 4px solid $color_green_other;
  @include fixedWidth(100%);
  border-radius: 2px 2px 0 0,
}

.popupTitle
{
  @include LargeSemiBold;
  text-align: center;
}

.popupDesc
{
  @include SmallSmall;
  color: $color_text;
  padding: 10px;
  background: $color_elements;
  text-align: center;
  margin: 12px 0 24px;
  max-width: 340px;
}

.continueShoppingBtn
{
  @extend .btn;
  @extend .btn_primary;
  width: 100%;
  height: 52px;

  &::after
  {
    display: none !important;
  }
}

@media screen and (max-width: #{$breakpoint_max_md}) 
{
  .notifyMe
  {
    @include col-span-(2);
  }
}