@import '../utils/_variables.scss';

.pagination
{
    @include flex(row, center, center, true);
    @include fixedWidth(100%);
    position: relative;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    &_item
    {
        @include transition();
        @include flex(row, center, center);
        @include fixedSize(44px);
        position: relative;
        margin: 0 8px;
        padding: 0;
        border-radius: 2px;
        border: solid 1px $color_elements_line_darker;
        background-color: $color_white;
        color: $color_text;

        &__active,
        &:hover
        {
            @extend .pagination_item;
            border-color: $color_black;
            color: $color_text;
        }
    }

    &_link
    {
        @include flex(row, center, center);
        @include RegulerReguler;
        @include fixedSize(100%);
        color: $color_text;
        text-decoration: none;
        text-align: center;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active
        {
            color: $color_text;
            text-decoration: none;
        }
    }
}

.itemPerPage
{
  @include flex(column, stretch, center);
  @include fixedSize(25%);
  align-self: flex-end;
  position: relative;
  margin: 4px 0 16px;
  padding: 8px 12px;
  border-radius: 2px;
  border: solid 1px $color_elements_line_darker;
  background-color: $color_white;

  &Label,
  &Options
  {
    position: relative;
    margin: 0;
    padding: 0;
  }

  &Label
  {
    p
    {
      @include flex(row, center, flex-start);
      @include SmallSmall;
      position: relative;
      margin: 0;
      padding: 0;
      color: $color_text_secondary;
    }
  }

  &Options
  {
    select
    {
      @include RegulerReguler;
      @include fixedWidth(100%);
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      background-color: transparent;

      &,
      &:hover,
      &:focus,
      &:active
      {
        outline: none;
        box-shadow: 0 0 0 transparent;
        border: none;
      }
    }
  }
}
