@import '../utils/_variables.scss';

.passwordStrengthBar
{
  @include transition();
  position: relative;
  width: 100%;
  height: 3px;
  background: $color_elements_line_darker;
  display: none;
  
  &::after
  {
    content: "";
    @include position(absolute, 0, 0, 0, 66%);
    background: $color_elements_line_darker;
    border-left: 4px solid $color_white;
    z-index: 2;
  }
  
  &::before
  {
    content: "";
    @include position(absolute, 0, 66%, 0, 33%);
    width: 35%;
    background: $color_elements_line_darker;
    border-left: 4px solid $color_white;
    z-index: 2;
  }

  &[class*="weak"] 
  {
    background: $color_red_other;
    display: block;
    
    & + [class*="passwordStrengthLabel"] 
    {
      color: $color_red_other !important;
    }
  }
  
  &[class*="medium"] 
  {
    display: block;
    background: $color_orange;
    &::before
    {
      background: $color_orange;
    }
    
    & + [class*="passwordStrengthLabel"] 
    {
      color: $color_orange !important;
    }
  }
  
  &[class*="strong"] 
  {
    display: block;
    background: $color_green_other;

    &::before,
    &::after
    {
      background: $color_green_other;
    }

    & + [class*="passwordStrengthLabel"] 
    {
      color: $color_green_other !important;
    }
  }
  
}

.passwordStrengthLabel
{
  @include ExtraSmallSemiBold;
}

.passwordCriteriaList
{
  @extend .grid;
  @include grid-(2);
  @include gap-x-(16px);
  padding: 0;
  display: none;

  &[class$="show"]
  {
    display: grid;
  }
}

.passwordCriteria
{
  @include ExtraSmallReguler;
  list-style-type: none;
  margin-top: .3rem;

  svg
  {
    margin-right: 7px;
  }
}
