@import '../utils/_variables.scss';
@import './Buttons.module.scss';
@import './Popup.module.scss';

.popup
{
  @include flex(row, center, center);
  @include fixedWidth(100%);
  @extend .popup_overlay;
  z-index: 1038;
  background-color: rgba($color_black, 0.75);
  
  & > [class*="popupBackgroundClassName"]
  {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.closeButton
{
  @include transition();
  @include flex(row, center, center);
  @include position(absolute, 16px, 16px);
  padding: 0;
  outline: none;
  cursor: pointer;

  border: none;
  background-size: auto 24px;
  background-color: transparent;

  svg
  {
    @include fixedSize(16px);
    color: $color_black;
  }

  &:hover,
  &:focus
  {
    opacity: 0.5;
  }
}

.voucherForm
{
  @include flex(row, center, space-between);
  @include fixedWidth(100%);
  height: 60px;
  position: relative;
  margin: 8px 0 0;
  padding: 0;

  &Container
  {
    @include fixedWidth(100%);
    position: relative;
    margin: 0;
    padding: 0;
  }

  input[class*="form-control"]
  {
    @include transition();
    @include flex(row, center, flex-start);
    @include typographyBuilder(400, 16, 16);
    position: relative;
    height: 100%;
    margin: 0 12px 0 0;
    padding: 0 12px;
    box-shadow: 0 0 0 transparent;
    border-radius: 2px;
    border: solid 1px $color_elements_line;

    &:hover,
    &:focus
    {
      outline: none;
      box-shadow: 0 0 0 transparent;
    }
  }
}

.pointsContainer
{
  padding-top: 12px !important;

  &::after
  {
    background: transparent !important;
  }
}

.voucherContainer
{
  @include flex(column, flex-start, flex-start);
  position: relative;
  margin: 0;
  padding: 32px 16px 24px;
  background-color: $color_white;
  border-radius: 2px;
  @extend .popup_container;

  max-width: calc(100% - (24px * 2));
  max-height: calc(100% - (24px * 2));

  @media screen and (min-width: #{$breakpoint_min_md})
  {
    max-width: 360px;
  }

  &::after
  {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  &__noGradient
  {
    padding-top: 0;

    &::after
    {
      content: none;
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  [class*="pointsFormContainerClassName"]
  {
    @include flex(column, flex-start, flex-start);
    @include fixedWidth(100%);
    position: relative;
    margin: 0;
    padding: 0;

    [class*="_pointsInsufficient"]
    {
      padding: 0 !important;
    }
  }
}

.pointsSubmitButton
{
  @extend .voucherSubmitButton;
  @include flex(row, center, center);
  @include fixedWidth(100%);
  height: 52px !important;
  margin-top: 24px !important;
}

.voucherList
{
  @extend .scrollbar_secondary;
  @include flex(column, flex-start, flex-start);
  @include fixedWidth(100%);
  flex-grow: 1;
  position: relative;
  margin: 24px auto 0;
  padding: 0 5px 0 0;

  overflow: auto;
  overflow-y: auto;


  &Header
  {
    @include flex(row, center, flex-start);
    @include typography_builder(500, 14, 21);
    @include fixedWidth(100%);
    color: $color_text_secondary;
    position: relative;
    margin: 0 0 12px;
    padding: 0;
  }
}

.voucherDetailHeader
{
  width: 100%;
  border-bottom: 1px dashed $color_placeholder;
  padding: 0 12px 8px 12px;
}

.voucherDetailCode
{
  @include flex(row, center, flex-start);
  @include ExtraSmallReguler;
  color: $color_text_secondary;
  
  & > span
  {
    @include SmallSmall;
    color: $color_blue;
    margin-left: 5px;

    svg
    {
      margin: 0 5px 1px 0;
    }
  }

}

.voucherDetailTitle
{
  @include SmallSemiBold;
  margin: 2px 0;
}

.voucherDetailDesc
{
  @include ExtraSmallReguler;
  color: $color_text_secondary;
}

.voucherDetailEstimate
{
  padding: 8px 12px 0 12px;
}

.voucherDetailEstimateDesc
{
  @include ExtraSmallReguler;
  color: $color_line_black;
}


.voucher
{
  @include flex(row, center, space-between);
  @include fixedWidth(100%);
  position: relative;
  margin: 0 0 10px;
  padding: 8px 0;
  cursor: pointer;

  border-radius: 2px;
  border: solid 1px $color_placeholder;
  background-color: $color_white; 

  &:last-of-type,
  &:last-child
  {
    margin-bottom: 0;
  }

  &Detail
  {
    @include flex(column, flex-start, flex-start);
    position: relative;
    margin: 0;
    padding: 0;

    & > p
    {
      @include flex(row, center, flex-start);
      @include typographyBuilder(400, 14, 14);
      color: $color_text_secondary;
      margin: 0;
      padding: 0;

      & + p
      {
        @include typographyBuilder(400, 11, 14);
        color: $color_grey;
        margin: 2px 0 0;
      }
    }
  }
  
  &Footer
  {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &ApplyButton
  {
    @include flex(row, center, center);
    @include fixedSize(100%);
    @include fontSize(0);
    position: relative;
    cursor: pointer;
    border: none;
    background-color: rgba($color_white, 0);
    color: rgba($color_white, 0);
  }
}

.voucherFormSubmit,
.voucherSubmitButton
{
  @include transition();
  @include RegulerReguler;
  @include flex(row, center, center);
  @extend .btn_primary;
  background-color: $color_black !important;
  position: relative;
  margin: 0;
  padding: 0 12px;
  border-radius: 2px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
  
  &:hover
  {
    opacity: .7;
    background-color: $color_black !important;

    &::after
    {
      display: none;
    }
  }
}

.pointValue
{
  @include SmallSmall;
  @include fixedWidth(100%);
  @include fixedHeight(40px);
  margin: 12px 0 24px;
  padding: 12px;
  background: $color_elements_line;
}

.numberOfPoints
{
  @include flex(column, flex-start, flex-start);
  @include fixedWidth(100%);
  position: relative;
  margin: 0;
  padding: 0;
}

.pointLabel,
.totalPoints
{
  @include flex(row, center, flex-start);
  @include fixedWidth(100%);
  position: relative;
  margin: 0;
  padding: 0;
}

.pointLabel
{
  @include RegulerSemiBold;
  margin-top: 16px !important;

  &::before
  {
    content: "";
    @include fixedSize(16px);
    display: block;
    margin-right: 10px !important;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 15.5C3.85775 15.5 0.5 12.1423 0.5 8C0.5 3.85775 3.85775 0.5 8 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8 15.5ZM6.125 5.75L4.25 7.625L8 11.375L11.75 7.625L9.875 5.75H6.125Z' fill='%232E77D0'/%3E%3C/svg%3E");
  }
}

.totalPoints
{
  svg
  {
    display: none;
  }
}

.changePoints
{
  @include transition();
  @include flex(row, center, center);
  @include fixedSize(60px);
  @extend .btn;
  @extend .btn_transparent;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  font-size: 0;
  color: rgba($color_white, 0);

  background-color: $color_white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;

  &[class*="increment"]
  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.25 5.25V0.75H6.75V5.25H11.25V6.75H6.75V11.25H5.25V6.75H0.75V5.25H5.25Z' fill='%23222222'/%3E%3C/svg%3E");
    grid-column-start: 3;
  }
  
  &[class*="decrement"]
  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' viewBox='0 0 12 2' fill='none'%3E%3Cpath d='M0.166656 0.166992H11.8333V1.83366H0.166656V0.166992Z' fill='%23222222'/%3E%3C/svg%3E");    grid-column-start: 1;
    grid-row-start: 1;
  }

  &:hover,
  &:focus
  {
    background-color: $color_white;
    border: solid 1px $color_black;
    box-shadow: 0 0 0 transparent;
    outline: none;
  }
}

.points
{
  &Form
  {
    @extend .grid;
    @include fixedWidth(100%);
    @include gap-x-(12px);
    grid-template-rows: 60px 161px 60px;
    grid-template-rows: auto;

    input[class*="form-control"]
    {
      @include transition();
      @include flex(row, center, flex-start);
      @include typographyBuilder(400, 16, 16);
      @include fixedWidth(100%);
      grid-column-start: 2;
      position: relative;
      height: 60px;
      margin: 0;
      padding: 0 12px;
      box-shadow: 0 0 0 transparent;
      border-radius: 2px;
      border: solid 1px $color_elements_line;
  
      &:hover,
      &:focus
      {
        outline: none;
        box-shadow: 0 0 0 transparent;
      }
    }
  }

  &Insufficient
  {
    padding: 0;

    &,
    & > p
    {
      @include flex(row, center, flex-start);
      @include fixedWidth(100%);
      position: relative;
      margin: 0;
      padding: 0;
    }

    p
    {
      @include ExtraSmallReguler;
      color: $color_text_secondary;
    }

    &:empty
    {
      padding: 12px 0 0;
    }
  }

  &Warning
  {
    &,
    & > p
    {
      @include flex(row, center, center);
      @include ExtraSmallReguler;
      @include fixedWidth(100%);
      position: relative;
      margin: 10px 0 0;
      padding: 0;
      text-align: center;
      color: $color_text_secondary;
    }
  
    p
    {
      margin: 0;
    }
  }
}