@import '../utils/_variables.scss';
@import './Buttons.module.scss';
@import './Popup.module.scss';

.popup
{
  @include flex(row, center, center);
  @include fixedWidth(100%);
  @extend .popup_overlay;
  z-index: 1050;
  background-color: rgba($color_black, 0.75);
  
  & > [class*="popupBackgroundClassName"]
  {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.closeButton
{
  @include transition();
  @include flex(row, center, center);
  @include position(absolute, 16px, 16px);
  padding: 0;
  outline: none;
  cursor: pointer;

  border: none;
  background-size: auto 24px;
  background-color: transparent;

  svg
  {
    @include fixedSize(16px);
    color: $color_black;
  }

  &:hover,
  &:focus
  {
    opacity: 0.5;
  }
}

.voucherForm
{
  @include flex(row, center, space-between);
  @include fixedWidth(100%);
  height: 60px;
  position: relative;
  margin: 8px 0 0;
  padding: 0;

  &Container
  {
    @include fixedWidth(100%);
    position: relative;
    margin: 0;
    padding: 0;
  }

  input[class*="form-control"]
  {
    @include transition();
    @include flex(row, center, flex-start);
    @include typographyBuilder(400, 16, 16);
    position: relative;
    height: 100%;
    margin: 0 12px 0 0;
    padding: 0 12px;
    box-shadow: 0 0 0 transparent;
    border-radius: 2px;
    border: solid 1px $color_elements_line;

    &:hover,
    &:focus
    {
      outline: none;
      box-shadow: 0 0 0 transparent;
    }
  }
}

.pointsContainer
{
  padding-top: 12px !important;

  &::after
  {
    background: transparent !important;
  }
}

.voucherContainer
{
  @include flex(column, flex-start, flex-start);
  position: relative;
  margin: 0;
  padding: 32px 16px 24px;
  background-color: $color_white;
  border-radius: 2px;
  @extend .popup_container;

  max-width: calc(100% - (24px * 2));
  max-height: calc(100% - (24px * 2));

  @media screen and (min-width: #{$breakpoint_min_md})
  {
    max-width: 360px;
  }

  &::after
  {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  &__noGradient
  {
    padding-top: 0;

    &::after
    {
      content: none;
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  [class*="pointsFormContainerClassName"]
  {
    @include flex(column, flex-start, flex-start);
    @include fixedWidth(100%);
    position: relative;
    margin: 0;
    padding: 0;

    [class*="_pointsInsufficient"]
    {
      padding: 0 !important;
    }
  }
}

.pointsSubmitButton
{
  @extend .voucherSubmitButton;
  @include flex(row, center, center);
  @include fixedWidth(100%);
  height: 52px !important;
  margin-top: 24px !important;
}

.voucherList
{
  @extend .scrollbar_secondary;
  @include flex(column, flex-start, flex-start);
  @include fixedWidth(100%);
  flex-grow: 1;
  position: relative;
  margin: 24px auto 0;
  padding: 0 5px 0 0;

  overflow: auto;
  overflow-y: auto;


  &Header
  {
    @include flex(row, center, flex-start);
    @include typography_builder(500, 14, 21);
    @include fixedWidth(100%);
    color: $color_text_secondary;
    position: relative;
    margin: 0 0 12px;
    padding: 0;
  }
}

.voucherDetailHeader
{
  width: 100%;
  border-bottom: 1px dashed $color_placeholder;
  padding: 0 12px 8px 12px;
}

.voucherDetailCode
{
  @include ExtraSmallReguler;
  display: inline-block;
  color: $color_text_secondary;
  
  & > span
  {
    @include SmallSmall;
    color: $color_blue;
    margin-left: 5px;
    word-break: break-all;

    svg
    {
      margin: 0 5px 1px 0;
    }
  }

}

.voucherDetailTitle
{
  @include SmallSemiBold;
  word-break: break-all;
  margin: 2px 0;
}

.voucherDetailDesc
{
  @include ExtraSmallReguler;
  color: $color_text_secondary;
}

.voucherDetailEstimate
{
  padding: 8px 12px 0 12px;
}

.voucherDetailEstimateDesc
{
  @include ExtraSmallReguler;
  color: $color_line_black;
}


.voucher
{
  @include flex(row, center, space-between);
  @include fixedWidth(100%);
  position: relative;
  margin: 0 0 10px;
  padding-top: 8px;
  cursor: pointer;

  border-radius: 2px;
  border: solid 1px $color_placeholder;
  background-color: $color_white; 

  &:last-of-type,
  &:last-child
  {
    margin-bottom: 0;
  }

  &Detail
  {
    @include flex(column, flex-start, flex-start);
    position: relative;
    margin: 0;
    padding: 0;
    width: inherit;

    & > p
    {
      @include flex(row, center, flex-start);
      @include typographyBuilder(400, 14, 14);
      color: $color_text_secondary;
      margin: 0;
      padding: 0;

      & + p
      {
        @include typographyBuilder(400, 11, 14);
        color: $color_grey;
        margin: 2px 0 0;
      }
    }
  }
  
  &Footer
  {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &ApplyButton
  {
    @include flex(row, center, center);
    @include fixedSize(100%);
    @include fontSize(0);
    position: relative;
    cursor: pointer;
    border: none;
    background-color: rgba($color_white, 0);
    color: rgba($color_white, 0);
  }
}

.voucherFormSubmit,
.voucherSubmitButton
{
  @include transition();
  @include RegulerReguler;
  @include flex(row, center, center);
  @extend .btn_primary;
  background-color: $color_black !important;
  position: relative;
  margin: 0;
  padding: 0 12px;
  border-radius: 2px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
  
  &:hover
  {
    opacity: .7;
    background-color: $color_black !important;

    &::after
    {
      display: none;
    }
  }
}

.voucherValidList,
.voucherInvalidList
{
  @include fixedWidth(100%);
}

.voucherInvalidList
{
  margin-top: 20px;
}

.voucherListHeader
{
  text-align: left !important;
  margin: 0 !important;
  min-height: 17px;
  cursor: pointer;
}

.voucherListHeaderIcon
{
  @include flex(row, center, flex-end);
  @include fixedHeight(100%);
  justify-self: flex-end;
  margin: 0 0 0 auto;

  & > div
  {
    display: none;
  }
}

.voucherListItems
{
  margin-top: 20px;
}

.voucherDetailInvalid
{
  & > div
  {
    opacity: 0.5;
    pointer-events: none;
  }
}

.voucherTitle
{
  @include flex(row, flex-end, flex-start);
  @include fixedWidth(100%);
  @include typographyBuilder(600, 12, 16);
  @include fixedHeight(48px);
  position: relative;
  margin: 0 0 -40px;
  padding: 0 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.voucherEmpty
{
  @include flex(column, center, center);
  position: relative;
  margin: 16px auto;
  padding: 0;
  min-height: 100px;

  p
  {
    @include flex(row, center, center);
    @include typographyBuilder(400, 13, 16);
    position: relative;
    margin: 0;
    padding: 0;
    color: $color_placeholder;
  }
}

.voucherEmptyIcon
{
  @include fixedSize(24px);
  @include flex(row, center, center);
  position: relative;
  margin: 0 auto 10px;
  padding: 0;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 4C2.5 3.73478 2.60536 3.48043 2.79289 3.29289C2.98043 3.10536 3.23478 3 3.5 3H21.5C21.7652 3 22.0196 3.10536 22.2071 3.29289C22.3946 3.48043 22.5 3.73478 22.5 4V9.5C21.837 9.5 21.2011 9.76339 20.7322 10.2322C20.2634 10.7011 20 11.337 20 12C20 12.663 20.2634 13.2989 20.7322 13.7678C21.2011 14.2366 21.837 14.5 22.5 14.5V20C22.5 20.2652 22.3946 20.5196 22.2071 20.7071C22.0196 20.8946 21.7652 21 21.5 21H3.5C3.23478 21 2.98043 20.8946 2.79289 20.7071C2.60536 20.5196 2.5 20.2652 2.5 20V4ZM8.585 19C8.68807 18.707 8.87955 18.4532 9.13301 18.2737C9.38647 18.0942 9.6894 17.9978 10 17.9978C10.3106 17.9978 10.6135 18.0942 10.867 18.2737C11.1204 18.4532 11.3119 18.707 11.415 19H20.5V16.032C19.7488 15.6597 19.1165 15.085 18.6745 14.3725C18.2325 13.6601 17.9982 12.8384 17.9982 12C17.9982 11.1616 18.2325 10.3399 18.6745 9.62746C19.1165 8.91505 19.7488 8.3403 20.5 7.968V5H11.415C11.3119 5.29299 11.1204 5.54677 10.867 5.72629C10.6135 5.90581 10.3106 6.00223 10 6.00223C9.6894 6.00223 9.38647 5.90581 9.13301 5.72629C8.87955 5.54677 8.68807 5.29299 8.585 5H4.5V19H8.585ZM10 11C9.60218 11 9.22064 10.842 8.93934 10.5607C8.65804 10.2794 8.5 9.89782 8.5 9.5C8.5 9.10218 8.65804 8.72064 8.93934 8.43934C9.22064 8.15804 9.60218 8 10 8C10.3978 8 10.7794 8.15804 11.0607 8.43934C11.342 8.72064 11.5 9.10218 11.5 9.5C11.5 9.89782 11.342 10.2794 11.0607 10.5607C10.7794 10.842 10.3978 11 10 11ZM10 16C9.60218 16 9.22064 15.842 8.93934 15.5607C8.65804 15.2794 8.5 14.8978 8.5 14.5C8.5 14.1022 8.65804 13.7206 8.93934 13.4393C9.22064 13.158 9.60218 13 10 13C10.3978 13 10.7794 13.158 11.0607 13.4393C11.342 13.7206 11.5 14.1022 11.5 14.5C11.5 14.8978 11.342 15.2794 11.0607 15.5607C10.7794 15.842 10.3978 16 10 16Z' fill='%23E8E8E8'/%3E%3C/svg%3E%0A");
}

.voucherBankLogoContainer
{
  @include flex(row, center, flex-start, true);
  padding: 8px 12px;
  margin-top: 9px;
  gap: 10px;
  width: inherit;
  background-color: $color_background_bank;
}

.voucherBankLogoImage
{
  height: 24px;
  width: 40px;
}

.voucherLoading
{
  @include flex(row, center, flex-start);
  padding: 0 10px;

  p 
  {
    margin-left: 10px;
  }
}

.pointValue
{
  @include SmallSmall;
  @include fixedWidth(100%);
  @include fixedHeight(40px);
  margin: 12px 0 24px;
  padding: 12px;
  background: $color_elements_line;
}

.numberOfPoints
{
  @include flex(column, flex-start, flex-start);
  @include fixedWidth(100%);
  position: relative;
  margin: 0;
  padding: 0;
}

.pointLabel,
.totalPoints
{
  @include flex(row, center, flex-start);
  @include fixedWidth(100%);
  position: relative;
  margin: 0;
  padding: 0;
}

.pointLabel
{
  @include RegulerSemiBold;
  margin-top: 16px !important;

  &::before
  {
    content: "";
    @include fixedSize(16px);
    display: block;
    margin-right: 10px !important;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 15.5C3.85775 15.5 0.5 12.1423 0.5 8C0.5 3.85775 3.85775 0.5 8 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8 15.5ZM6.125 5.75L4.25 7.625L8 11.375L11.75 7.625L9.875 5.75H6.125Z' fill='%232E77D0'/%3E%3C/svg%3E");
  }
}

.totalPoints
{
  svg
  {
    display: none;
  }
}

.changePoints
{
  @include transition();
  @include flex(row, center, center);
  @include fixedSize(60px);
  @extend .btn;
  @extend .btn_transparent;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  font-size: 0;
  color: rgba($color_white, 0);

  background-color: $color_white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;

  &[class*="increment"]
  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.25 5.25V0.75H6.75V5.25H11.25V6.75H6.75V11.25H5.25V6.75H0.75V5.25H5.25Z' fill='%23222222'/%3E%3C/svg%3E");
    grid-column-start: 3;
  }
  
  &[class*="decrement"]
  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' viewBox='0 0 12 2' fill='none'%3E%3Cpath d='M0.166656 0.166992H11.8333V1.83366H0.166656V0.166992Z' fill='%23222222'/%3E%3C/svg%3E");    grid-column-start: 1;
    grid-row-start: 1;
  }

  &:hover,
  &:focus
  {
    background-color: $color_white;
    border: solid 1px $color_black;
    box-shadow: 0 0 0 transparent;
    outline: none;
  }
}

.points
{
  &Form
  {
    @extend .grid;
    @include fixedWidth(100%);
    @include gap-x-(12px);
    grid-template-rows: 60px 161px 60px;
    grid-template-rows: auto;

    input[class*="form-control"]
    {
      @include transition();
      @include flex(row, center, flex-start);
      @include typographyBuilder(400, 16, 16);
      @include fixedWidth(100%);
      grid-column-start: 2;
      position: relative;
      height: 60px;
      margin: 0;
      padding: 0 12px;
      box-shadow: 0 0 0 transparent;
      border-radius: 2px;
      border: solid 1px $color_elements_line;
  
      &:hover,
      &:focus
      {
        outline: none;
        box-shadow: 0 0 0 transparent;
      }
    }
  }

  &Insufficient
  {
    padding: 0;

    &,
    & > p
    {
      @include flex(row, center, flex-start);
      @include fixedWidth(100%);
      position: relative;
      margin: 0;
      padding: 0;
    }

    p
    {
      @include ExtraSmallReguler;
      color: $color_text_secondary;
    }

    &:empty
    {
      padding: 12px 0 0;
    }
  }

  &Warning
  {
    &,
    & > p
    {
      @include flex(row, center, center);
      @include ExtraSmallReguler;
      @include fixedWidth(100%);
      position: relative;
      margin: 10px 0 0;
      padding: 0;
      text-align: center;
      color: $color_text_secondary;
    }
  
    p
    {
      margin: 0;
    }
  }
}