@import '../utils/_variables.scss';
@import './Buttons.module.scss';
@import './Popup.module.scss';

.popup
{
  @extend .popup_overlay;
  @include flex(row, center, center);
  @include fixedWidth(100%);
  @include fixedHeight(100%);
  z-index: 1050;
  background-color: rgba($color_black, 0.75);
  
  & > [class*="popupBackgroundClassName"]
  {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.closeButton
{
  @include transition();
  @include flex(row, center, center);
  @include absolute(8px, 8px);
  padding: 0;
  outline: none;
  cursor: pointer;

  border: none;
  background-size: auto 24px;
  background-color: transparent;

  svg
  {
    @include fixedSize(16px);
    color: $color_black;
  }

  &:hover,
  &:focus
  {
    opacity: 0.5;
  }
}

.voucherForm
{
  @include fixedWidth(100%);
  position: relative;
  margin: 8px 0 0;
  padding: 0;

  &Container
  {
    @include fixedWidth(100%);
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.pointsContainer
{
  padding-top: 12px !important;

  &::after
  {
    background: transparent !important;
  }
}

.pointsContainer
{
  @include flex(column, flex-start, flex-start);
  position: relative;
  margin: 0;
  padding: 32px 16px 24px;
  background-color: $color_white;
  border-radius: 2px;
  @extend .popup_container;

  max-width: 100vw;
  max-height: 100vh;

  @media screen and (min-width: #{$breakpoint_min_md})
  {
    max-width: 360px;
  }

  &::after
  {
    content: "";
    @include absolute(0, 0, 0, 0);
    pointer-events: none;
  }

  &__noGradient
  {
    padding-top: 0;

    &::after
    {
      content: none;
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  [class*="pointsFormContainerClassName"]
  {
    @include flex(column, flex-start, flex-start);
    @include fixedWidth(100%);
    position: relative;
    margin: 0;
    padding: 0;

    [class*="_pointsInsufficient"]
    {
      padding: 0 !important;
    }
  }
}

.pointsSubmitButton
{
  @extend .voucherSubmitButton;
  @include flex(row, center, center);
  @include fixedWidth(100%);
  height: 52px !important;
  margin-top: 24px !important;
}

.voucherContainer
{
  @include fixedWidth(100%);
  @include fixedHeight(100vh);
  position: relative;
  margin: 0;
  padding: 16px;
  background-color: $color_white;
  border-radius: 2px;
  overflow-y: auto;

  @media screen and (min-width: #{$breakpoint_min_md})
  {
    padding: 24px;
  }

  @media screen and (min-width: #{$breakpoint_min_lg})
  {
    padding: 24px 135px;
  }
}

.voucherTitleInput
{
  @include typography_builder(500, 16, 24);
  margin: 0;
}

.voucherSubTitleInput
{
  @include typography_builder(400, 10, 16);
  margin: 0;
}

.voucherInputContainer
{
  @include flex(row, center, flex-start);
  height: 44px;
  margin-top: 12px;

  input[class*="form-control"]
  {
    @include transition();
    @include typographyBuilder(400, 16, 16);
    @include fixedHeight(100%);
    width: 231px;
    max-width: 100%;
    position: relative;
    margin: 0 12px 0 0;
    padding: 0 12px;
    box-shadow: 0 0 0 transparent;
    border-radius: 2px;
    border: solid 1px $color_elements_line;

    &:hover,
    &:focus
    {
      outline: none;
      box-shadow: 0 0 0 transparent;
    }
  }
}

.voucherList
{
  @extend .scrollbar_secondary;
  @include flex(column, flex-start, flex-start);
  @include fixedWidth(100%);
  flex-grow: 1;
  position: relative;
  margin: 24px auto 0;
  overflow: auto;
  overflow-y: auto;

  &Header
  {
    @include flex(row, center, flex-start);
    @include typography_builder(500, 14, 21);
    @include fixedWidth(100%);
    color: $color_text_secondary;
    position: relative;
    margin: 0 0 12px;
    padding: 0;
  }
}

.voucherDetailHeader
{
  width: 100%;
  border-bottom: 1px dashed $color_placeholder;
  padding: 6px 12px 8px;
  background-color: $color_white;
}

.voucherDetailCode
{
  display: none;
}

.voucherDetailTitle
{
  @include SmallSemiBold;
  word-break: break-all;
  margin: 2px 0;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}

.voucherDetailDesc
{
  @include ExtraSmallReguler;
  color: $color_text_secondary;
}

.voucherDetailEstimate
{
  padding: 8px 12px 9px;
  background-color: $color_white;
}

.voucherDetailEstimateDesc
{
  @include ExtraSmallReguler;
  color: $color_line_black;
}

.voucherDetailViewDetails
{
  @extend .btn;
  @include ExtraSmallReguler;
  @include absolute(8px, 12px);
  z-index: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color_blue;

  &:hover,
  &:active,
  &:focus
  {
    background-color: transparent;
    color: $color_blue;
  }
}

.voucherDetailApplied
{
  border: 1px solid $color_blue !important;

  .voucherDetailEstimate
  {
    @include flex(row, center, space-between);

    &::after
    {
      content: "";
      @include fixedSize(14px);
      display: block;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99992 13.6667C3.31792 13.6667 0.333252 10.682 0.333252 7.00004C0.333252 3.31804 3.31792 0.333374 6.99992 0.333374C10.6819 0.333374 13.6666 3.31804 13.6666 7.00004C13.6666 10.682 10.6819 13.6667 6.99992 13.6667ZM6.33525 9.66671L11.0486 4.95271L10.1059 4.01004L6.33525 7.78137L4.44925 5.89537L3.50659 6.83804L6.33525 9.66671Z' fill='%232296CB'/%3E%3C/svg%3E%0A");
    }
  }
}

.voucher
{
  @include flex(row, flex-start, space-between);
  @include fixedWidth(100%);
  height: max-content;
  position: relative;
  margin: 0;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px $color_placeholder;
  background-color: $color_background_bank;

  &:hover
  {
    border: solid 1px $color_blue;
  }

  &:last-of-type,
  &:last-child
  {
    margin-bottom: 0;
  }

  &Detail
  {
    position: relative;
    margin: 0;
    padding: 0;
    width: inherit;

    & > p
    {
      @include flex(row, center, flex-start);
      @include typographyBuilder(400, 14, 14);
      color: $color_text_secondary;
      margin: 0;
      padding: 0;

      & + p
      {
        @include typographyBuilder(400, 11, 14);
        color: $color_grey;
        margin: 2px 0 0;
      }
    }
  }
  
  &Footer
  {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &ApplyButton
  {
    @include flex(row, center, center);
    @include fixedSize(100%);
    @include fontSize(0);
    position: relative;
    cursor: pointer;
    border: none;
    background-color: rgba($color_white, 0);
    color: rgba($color_white, 0);
  }
}

.voucherFormSubmit,
.voucherSubmitButton
{
  @include transition();
  @include RegulerReguler;
  @include flex(row, center, center);
  @extend .btn_primary;
  background-color: $color_black !important;
  position: relative;
  margin: 0;
  padding: 0 12px;
  border-radius: 2px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
  
  &:hover
  {
    opacity: .7;
    background-color: $color_black !important;

    &::after
    {
      display: none;
    }
  }
}

.voucherValidList,
.voucherInvalidList
{
  @include fixedWidth(100%);
}

.voucherListHeader
{
  text-align: left !important;
  margin: 0 !important;
  min-height: 17px;
  cursor: pointer;
}

.voucherListHeaderIcon
{
  @include flex(row, center, flex-end);
  @include fixedHeight(100%);
  justify-self: flex-end;
  margin: 0 0 0 auto;

  & > div
  {
    display: none;
  }
}

.voucherListItems
{
  @extend .grid;

  @include grid-(1);
  @include gap-(17px);
  margin: 20px 0;

  @media screen and (min-width: #{$breakpoint_min_sm})
  {
    @include grid-(2);
  }

  @media screen and (min-width: #{$breakpoint_max_lg})
  {
    @include grid-(3);
  }
  
}

.voucherDetailInvalid
{
  &:hover
  {
    border: solid 1px $color_placeholder;
  }
  
  & > div
  {
    opacity: 0.5;
    pointer-events: none;
  }
}

.voucherTitle
{
  @include typographyBuilder(600, 12, 16);
  position: relative;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.voucherEmpty
{
  @include flex(column, center, center);
  position: relative;
  margin: 16px auto;
  padding: 0;
  min-height: 100px;

  p
  {
    @include flex(row, center, center);
    @include typographyBuilder(400, 13, 16);
    position: relative;
    margin: 0;
    padding: 0;
    color: $color_placeholder;
  }
}

.voucherEmptyIcon
{
  @include fixedSize(24px);
  @include flex(row, center, center);
  position: relative;
  margin: 0 auto 10px;
  padding: 0;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 4C2.5 3.73478 2.60536 3.48043 2.79289 3.29289C2.98043 3.10536 3.23478 3 3.5 3H21.5C21.7652 3 22.0196 3.10536 22.2071 3.29289C22.3946 3.48043 22.5 3.73478 22.5 4V9.5C21.837 9.5 21.2011 9.76339 20.7322 10.2322C20.2634 10.7011 20 11.337 20 12C20 12.663 20.2634 13.2989 20.7322 13.7678C21.2011 14.2366 21.837 14.5 22.5 14.5V20C22.5 20.2652 22.3946 20.5196 22.2071 20.7071C22.0196 20.8946 21.7652 21 21.5 21H3.5C3.23478 21 2.98043 20.8946 2.79289 20.7071C2.60536 20.5196 2.5 20.2652 2.5 20V4ZM8.585 19C8.68807 18.707 8.87955 18.4532 9.13301 18.2737C9.38647 18.0942 9.6894 17.9978 10 17.9978C10.3106 17.9978 10.6135 18.0942 10.867 18.2737C11.1204 18.4532 11.3119 18.707 11.415 19H20.5V16.032C19.7488 15.6597 19.1165 15.085 18.6745 14.3725C18.2325 13.6601 17.9982 12.8384 17.9982 12C17.9982 11.1616 18.2325 10.3399 18.6745 9.62746C19.1165 8.91505 19.7488 8.3403 20.5 7.968V5H11.415C11.3119 5.29299 11.1204 5.54677 10.867 5.72629C10.6135 5.90581 10.3106 6.00223 10 6.00223C9.6894 6.00223 9.38647 5.90581 9.13301 5.72629C8.87955 5.54677 8.68807 5.29299 8.585 5H4.5V19H8.585ZM10 11C9.60218 11 9.22064 10.842 8.93934 10.5607C8.65804 10.2794 8.5 9.89782 8.5 9.5C8.5 9.10218 8.65804 8.72064 8.93934 8.43934C9.22064 8.15804 9.60218 8 10 8C10.3978 8 10.7794 8.15804 11.0607 8.43934C11.342 8.72064 11.5 9.10218 11.5 9.5C11.5 9.89782 11.342 10.2794 11.0607 10.5607C10.7794 10.842 10.3978 11 10 11ZM10 16C9.60218 16 9.22064 15.842 8.93934 15.5607C8.65804 15.2794 8.5 14.8978 8.5 14.5C8.5 14.1022 8.65804 13.7206 8.93934 13.4393C9.22064 13.158 9.60218 13 10 13C10.3978 13 10.7794 13.158 11.0607 13.4393C11.342 13.7206 11.5 14.1022 11.5 14.5C11.5 14.8978 11.342 15.2794 11.0607 15.5607C10.7794 15.842 10.3978 16 10 16Z' fill='%23E8E8E8'/%3E%3C/svg%3E%0A");
}

.voucherBankLogoContainer,
.voucherShipperLogoContainer
{
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
  padding: 4px 5px 0 12px;

  &:empty
  {
    display: none;
  }
}

.voucherBankLogoImage,
.voucherShipperLogoImage
{
  height: 24px;
  width: 40px;
  object-fit: contain;
}

.voucherShowMoreContainer
{
  @include flex(row, center, center);
}

.voucherShowMoreButton
{
  @extend .btn;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color_blue;

  &:hover,
  &:active,
  &:focus
  {
    background-color: transparent;
    color: $color_blue;
  }
}

.voucherDetailPopUpContainer
{
  @extend .popup_overlay;
  @include flex(row, center, center);
  @include fixedSize(100%);
  z-index: 1050;
  background-color: rgba($color_black, 0.75);
  
  & > [class*="popupBackgroundClassName"]
  {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.voucherDetailPopUpBody
{
  @include flex(column, flex-start, flex-start);
  @include fixed(auto, auto, 0);
  z-index: 1;
  margin: 0;
  background-color: $color_white;
  border-radius: 2px;

  max-width: 100vw;
  max-height: 80vh;
  width: 100%;

  @media screen and (min-width: #{$breakpoint_min_sm})
  {
    position: relative;
    max-width: 417px;
  }
}

.voucherDetailPopUpHeader
{
  @include flex(row, center, space-between);
  @include fixedWidth(100%);
  padding: 12px 16px;
  border-bottom: 1px solid $color_placeholder;
}

.voucherDetailPopUpHeaderTitle
{
  @include typographyBuilder(500, 16, 24);
  margin: 0;
}

.voucherDetailPopUpClose,
.voucherDetailPopUpCodeCopyButton
{
  @extend .btn;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color_black;

  &:hover,
  &:active,
  &:focus
  {
    background-color: transparent;
    color: $color_black;
  }

  & > svg
  {
    margin: 0;
  }
}

.voucherDetailPopUpDescContainer
{
  padding: 16px;
  overflow-y: auto;
}

.voucherDetailPopUpTermsTitle
{
  @include typographyBuilder(400, 12, 16);
}

.voucherDetailPopUpTermsContainer
{
  @include typographyBuilder(400, 12, 16);
  padding-left: 16px;
}

.voucherDetailPopUpDescDate
{
  @include flex(row, center, flex-start);
  @include typographyBuilder(400, 12, 16);
  color: $color_red_other;
  margin: 0;

  &::before
  {
    content: "";
    @include fixedSize(13px);
    display: inline-block;
    margin-right: 8px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.0001 13.4C8.69748 13.4 10.3253 12.7257 11.5256 11.5255C12.7258 10.3252 13.4001 8.69736 13.4001 6.99998C13.4001 5.30259 12.7258 3.67472 11.5256 2.47449C10.3253 1.27426 8.69748 0.599976 7.0001 0.599976C5.30271 0.599976 3.67485 1.27426 2.47461 2.47449C1.27438 3.67472 0.600098 5.30259 0.600098 6.99998C0.600098 8.69736 1.27438 10.3252 2.47461 11.5255C3.67485 12.7257 5.30271 13.4 7.0001 13.4ZM7.8001 3.79998C7.8001 3.5878 7.71581 3.38432 7.56578 3.23429C7.41575 3.08426 7.21227 2.99998 7.0001 2.99998C6.78792 2.99998 6.58444 3.08426 6.43441 3.23429C6.28438 3.38432 6.2001 3.5878 6.2001 3.79998V6.99998C6.20014 7.21213 6.28446 7.41558 6.4345 7.56558L8.6969 9.82878C8.77123 9.9031 8.85947 9.96206 8.95658 10.0023C9.05369 10.0425 9.15778 10.0632 9.2629 10.0632C9.36801 10.0632 9.4721 10.0425 9.56921 10.0023C9.66633 9.96206 9.75457 9.9031 9.8289 9.82878C9.90323 9.75445 9.96219 9.66621 10.0024 9.56909C10.0426 9.47198 10.0633 9.36789 10.0633 9.26277C10.0633 9.15766 10.0426 9.05357 10.0024 8.95646C9.96219 8.85934 9.90323 8.7711 9.8289 8.69678L7.8001 6.66878V3.79998Z' fill='%23F44444'/%3E%3C/svg%3E%0A");
  }
}

.voucherDetailPopUpCodeContainer
{
  @include fixedWidth(100%);
  padding: 16px;
  border-top: 1px dashed $color_placeholder;
}

.voucherDetailPopUpCodeTitle
{
  @include typographyBuilder(400, 12, 16);
  margin-bottom: 4px;
}

.voucherDetailPopUpCodeCopyContainer
{
  @include flex(row, center, space-between);
  background: $color_white;
  border: 1px solid $color_elements_placeholder;
  border-radius: 3px;
  padding: 14px 16px;
}

.voucherDetailPopUpCodeCopyTitle
{
  @include typographyBuilder(500, 12, 16);
  margin: 0;
}

.voucherDetailPopUpUseCoupon
{
  @extend .btn;
  @include fixedWidth(100%);
  margin-top: 12px;
}

.voucherLoading
{
  @include flex(row, center, center);
  padding: 10px;

  p 
  {
    margin-left: 10px;
  }
}

.pointValue
{
  @include SmallSmall;
  @include fixedWidth(100%);
  @include fixedHeight(40px);
  margin: 12px 0 24px;
  padding: 12px;
  background: $color_elements_line;
}

.numberOfPoints
{
  @include flex(column, flex-start, flex-start);
  @include fixedWidth(100%);
  position: relative;
  margin: 0;
  padding: 0;
}

.pointLabel,
.totalPoints
{
  @include flex(row, center, flex-start);
  @include fixedWidth(100%);
  position: relative;
  margin: 0;
  padding: 0;
}

.pointLabel
{
  @include RegulerSemiBold;
  margin-top: 16px !important;

  &::before
  {
    content: "";
    @include fixedSize(16px);
    display: block;
    margin-right: 10px !important;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 15.5C3.85775 15.5 0.5 12.1423 0.5 8C0.5 3.85775 3.85775 0.5 8 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8 15.5ZM6.125 5.75L4.25 7.625L8 11.375L11.75 7.625L9.875 5.75H6.125Z' fill='%232E77D0'/%3E%3C/svg%3E");
  }
}

.totalPoints
{
  svg
  {
    display: none;
  }
}

.changePoints
{
  @include transition();
  @include flex(row, center, center);
  @include fixedSize(60px);
  @extend .btn;
  @extend .btn_transparent;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  font-size: 0;
  color: rgba($color_white, 0);

  background-color: $color_white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;

  &[class*="increment"]
  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.25 5.25V0.75H6.75V5.25H11.25V6.75H6.75V11.25H5.25V6.75H0.75V5.25H5.25Z' fill='%23222222'/%3E%3C/svg%3E");
    grid-column-start: 3;
  }
  
  &[class*="decrement"]
  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' viewBox='0 0 12 2' fill='none'%3E%3Cpath d='M0.166656 0.166992H11.8333V1.83366H0.166656V0.166992Z' fill='%23222222'/%3E%3C/svg%3E");    grid-column-start: 1;
    grid-row-start: 1;
  }

  &:hover,
  &:focus
  {
    background-color: $color_white;
    border: solid 1px $color_black;
    box-shadow: 0 0 0 transparent;
    outline: none;
  }
}

.points
{
  &Form
  {
    @extend .grid;
    @include fixedWidth(100%);
    @include gap-x-(12px);
    grid-template-rows: 60px 161px 60px;
    grid-template-rows: auto;

    input[class*="form-control"]
    {
      @include transition();
      @include flex(row, center, flex-start);
      @include typographyBuilder(400, 16, 16);
      @include fixedWidth(100%);
      grid-column-start: 2;
      position: relative;
      height: 60px;
      margin: 0;
      padding: 0 12px;
      box-shadow: 0 0 0 transparent;
      border-radius: 2px;
      border: solid 1px $color_elements_line;
  
      &:hover,
      &:focus
      {
        outline: none;
        box-shadow: 0 0 0 transparent;
      }
    }
  }

  &Insufficient
  {
    padding: 0;

    &,
    & > p
    {
      @include flex(row, center, flex-start);
      @include fixedWidth(100%);
      position: relative;
      margin: 0;
      padding: 0;
    }

    p
    {
      @include ExtraSmallReguler;
      color: $color_text_secondary;
    }

    &:empty
    {
      padding: 12px 0 0;
    }
  }

  &Warning
  {
    &,
    & > p
    {
      @include flex(row, center, center);
      @include ExtraSmallReguler;
      @include fixedWidth(100%);
      position: relative;
      margin: 10px 0 0;
      padding: 0;
      text-align: center;
      color: $color_text_secondary;
    }
  
    p
    {
      margin: 0;
    }
  }
}