@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";
@import "../components/Placeholder.module.scss";
@import "../pages/Products.module.scss";

.popup
{
  &_overlay
  {
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (max-width: 575px) {
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: auto;
    }
  }

  &_containerFull
  {
    position: relative;
    width: 40vw;
    background: $color_white;
    border-radius: 2px;

    @media screen and (max-width: 991px) {
      width: 70vw;
    }

    @media screen and (max-width: 575px) {
      width: 100%;
      height: 100%;
    }
  }

  &_container
  {
    position: relative;
    width: fit-content;
    background: $color_white;
    border-radius: 2px;
    animation: animateUp .7s ease forwards;

    @media screen and (max-width: 575px) {
      margin: 0 1rem;
      width: 100%;
      height: auto;
    }
  }

  &_bodyMaxHeight
  {
    min-height: max-content !important;
    max-height: max-content !important;
  }

  &_header
  {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color_gray_low;

    @media screen and (max-width: 575px) {
      height: calc(100vh - 92.5vh);
    }

    h6
    {
      margin: 0;
    }
  }

  &_body
  {
    padding: 1rem;
    height: auto;
    min-height: 550px;
    max-height: 550px;
    overflow-y: auto;

    @media screen and (max-width: 575px) {
      height: auto;
      min-height: inherit;
      max-height: inherit;
    }
  }

  &_bodyFull
  {    
    @media screen and (max-width: 575px) {
      height: 100%;
      max-height: auto;
      padding-bottom: 80px;
    }
  }

  &_footer
  {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
    background: $color_white;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;

    @media screen and (max-width: 575px) {
      position: fixed;
    }
  }

  &_popupError
  {
    text-align: center;
    padding: 1rem 0;
  }

  &_popupErrorTitle
  {
    font-family: "roboto-bold";
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &_popupErrorDesc
  {
    font-size: 14px;
    margin: 0;
  }
}

.close
{
  &_button
  {
    font-family: "roboto-black";
    font-size: 1rem;
    background-color: transparent;

    @media screen and (max-width: 991px) {
      padding: 0;
      top: .25rem;
      right: 1.5rem;
      font-size: 0.75rem;
    }

    @media screen and (max-width: 575px) {
      top: 0;
      right: 1.25rem;
    }

    &:focus,
    &:active
    {
      outline: 0;
      border: none;
      box-shadow: none;
    }
  }

  &_icon
  {
    height: 1.2em;
    color: $color_gray_text;
    cursor: pointer;

    &:hover
    {
      color: $color_black;
    }
  }
}

.cart
{
  margin-bottom: 8.5rem;
  
  @media screen and (max-width: 575px) {
    margin-bottom: 2rem;
  }

  &_crossSell
  {
    position: relative;
    background-color: $color_gray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 2rem;
    margin-bottom: 135px;
  }

  &_crossSellHeader
  {
    margin-bottom: 18px;
  }

  &_crossSellTitle
  {
    font-family: "roboto-medium";
    font-size: 16px;
    line-height: 16px;
  }

  &_crossSellPaggination
  {
    position: absolute;
    top: 15px;
    right: 11px;
  }

  &_crossSellPagginationItem
  {
    background-color: transparent;
    border: 0;
  }

  &_itemSummary
  {
    grid-template-columns: 25% 75%;
  }

  &_empty
  {
    padding: 5rem 0;
    text-align: center;
  }

  &_emptyTitle
  {
    font-family: "roboto-black";
    font-size: .75rem;
    text-transform: uppercase;
    margin: 1rem 0 .5rem 0;
  }
}

.cartFooter
{
  margin-top: 2rem;

  &_title
  {
    font-family: "roboto-medium";
    font-size: 13px;
  }

  &_input
  {
    font-size: 13px;
  }
}

.errorCart
{
  background: $color_red_light;
  border: 1px solid $color_red_error;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
}

.cartItem
{
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  margin-bottom: 2rem;

  &_image
  {
    grid-row: 1/5;
    margin-right: 1rem;

    img
    {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_imageSummary
  {
    grid-row: 1/3;
    margin-right: 1rem;

    img
    {
      width: 100%;
      height: 85px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_detail
  {
    grid-row: 1;
    grid-column: 2/5;
    align-self: center;

    & > a
    {
      font-family: "roboto-medium";
      font-size: 18px;
      cursor: pointer;
    }
  }

  &_priceCalculate
  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
  }

  &_priceCalculateSummary
  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
  }

  &_priceRegular,
  &_priceSaleWrapper
  {
    font-size: 13px;
    align-self: center;
  }

  &_priceSale
  {
    font-size: 13px;
  }

  &_discNote
  {
    font-size: 12px;
    color: $color_red_error;
  }

  &_detailSummary
  {
    grid-row: 1;
    grid-column: 2/5;

    & > a
    {
      font-family: "roboto-medium";
      font-size: 14px;
      color: $color_white !important;
    }
  }

  &_priceCalculatePriceSummary
  {
    font-size: 14px;
    color: $color_white !important;
    align-self: center;
  }

  &_price
  {
    grid-row: 3;
    grid-column: 2;
    font-size: 16px;
  }

  &_priceSummary
  {
    grid-row: 3 !important;
    grid-column: 2/5;
    font-size: 13px;
    color: $color_white;
  }

  &_qtySummary
  {
    grid-row: 4 !important;
  }

  &_discountNoteSummary
  {
    color: rgba($color_white, 0.75);
  }

  &_priceSalePriceWrapperSummary
  {
    align-self: center;
  }

  &_priceSalePriceSummary
  {
    font-size: 14px;
    color: $color_white;
  }

  &_qty
  {
    grid-row: 4;
    grid-column: 2;
    align-self: center;
  }

  &_qtyBox
  {
    position: relative;
    width: max-content;

    @media screen and (max-width: 576px) {
      text-align: left;
      margin-left: 0;
    }

    button
    {
      position: absolute;
      width: 30px;
      height: 50px;
      display: inline-block;
      text-align: center;
      font-size: 1.25rem;
      color: rgba(0,0,0,.25);
      background: transparent;
      padding: 0;
      outline: 0;
      border: none;

      &:last-child
      {
        right: 0;
      }

      &:hover
      {
        cursor: pointer;
        color: $color_black;
      }

      &:active,
      &:focus
      {
        outline: 0;
        border: none;
      }

      &_disable
      {
        &:hover
        {
          cursor: inherit;
          color: rgba(0,0,0,.25);
        } 
      }
    }

    input
    {
      width: 120px;
      height: 50px;
      border: 1px solid rgba(0,0,0,.25);
      border-radius: 2.5px;
      font-size: 18px;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }

  &_remove
  {
    grid-row: 4;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}

.summarycart
{
  padding: 1rem;
  padding-top: 0;

  &_header
  {
    display: flex;
    background: $color_white;
  }

  &_headerFeatures
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    cursor: pointer;
    padding: .75rem;

    &:nth-child(1)
    {
      background: rgba(34, 150, 203, 0.1);
    }

    &__icon
    {
      margin-right: .5rem;
    }
    
    &__label
    {
      color: $color_black;
    }
  }

  &_footer
  {
    padding: 0 1rem;
    padding-top: 1rem;
    margin: auto 0;
  }

  &_subtotal
  {
    padding-top: 1rem;

    &__label
    {
      font-size: 14px;

      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }

    &__price
    {
      font-family: "roboto-medium";
      font-size: 18px;

      @media screen and (max-width: 576px) {
        font-size: 14px;
      }
    }
  }

  &_overlay
  {
    position: fixed;
    z-index: 1500;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_popup
  {
    margin: 0 1rem;
    padding: 1.5rem;
    background: $color_white;
    border-radius: 5px;
    position: relative;
  }

  &_popupClose
  {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    color: $color_gray_text;
    border: none;
    padding: .25rem .5rem;
    cursor: pointer;

    &:focus,
    &:active
    {
      outline: 0;
      border: none; 
    }

    &:hover
    {
      color: $color_black;
    }
  }

  &_popupPoints
  {
    span:nth-child(1)
    {
      display: block;
      margin-bottom: 5px;
    }

    span:nth-child(2)
    {
      margin-right: 5px;
      font-family: "roboto-black";
      font-size: 1rem;
      text-transform: uppercase;
    }

    svg
    {
      color: $color_orange;
      height: 1rem;
      margin-top: -5px;
    }
  }

  &_popupForm
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    margin: 0;
    padding: 0;

    &__container
    {
      position: relative;
      margin: 1rem 0 25px;
    }

    input[type="text"],
    input[type="submit"],
    input[type="button"]
    button
    {
      height: 40px;
      border-radius: 3px !important;
    }

    input[type="text"]
    {
      margin-right: 8px;
      width: 100% !important;
    }

    &__input
    {
      width: 300px !important;
      border-radius: 0 !important;

      @media screen and (max-width: 575px) 
      {
        width: max-content !important;
      }
    }

    &__button
    {
      height: calc(2em + 1rem + 4px);
      border-color: #ced4da !important;
      border-left: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-radius: 0 !important;
    }
  }

  &_popupVoucherTitle
  {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &_popupVoucherItem
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 0 12px;
    padding: 0;

    border: solid 1px #ccc;
    border-radius: 3px;
  }

  &_popupVoucherDetail
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 12px 20px;
    width: 100%;

    p
    {
      margin: 0;
      padding: 0;

      &:first-child,
      &:first-of-type
      {
        font-size: 14px;
        line-height: 21px;
        color: $color_gray_text;
      }

      &:last-child,
      &:last-of-type
      {
        font-size: 11px;
        line-height: 16px;
        color: $color_secondary;
      }
    }

    @media screen and (max-width: 575px)
    {
      width: 100%;
    }
  }

  &_popupVoucherFooter
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;

    &:hover,
    &:focus,
    &:active
    {
      background-color: rgba(233, 245, 250, 0.3);
    }

    button
    {
      width: 100%;
      height: 100%;
      
      opacity: 0;
      background-color: transparent;
      color: transparent;
    }
  }

  &_voucher
  {
    &Remove
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      bottom: auto;
      height: 100%;
      width: 48px;
      cursor: pointer;

      &:hover
      {
        opacity: 0.6;
      }

      svg
      {
        width: 20px;
        height: auto;
      }
    }
  }
}

@keyframes animateUp 
{
  0%{opacity: 0}
  70%{ transform: translateY(-22px); opacity: .5}
  100%{ transform: translateY(-22px); opacity: 1}
}
