@import '../utils/variables';

.productCategory
{
  &_section,
  &_sectionCategories
  {
    height: fit-content;
    position: relative;
    padding: 0;
    margin-top: 29px;
    color: $color_text;
  }

  &_section
  {
    @include flex(column, flex-start, flex-start);
  }

  &_sectionCategories
  {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 40px);
    gap: 0 20px;
  }

  &_sectionList
  {
    @extend .productCategory_section;
    margin-top: 16px;
    margin-bottom: 0;
  }

  &_container,
  &_containerCategories
  {
    margin: 24px 0 80px;
  }

  &_container
  {
    @media (min-width: #{$breakpoint_min_md})
    {
      min-height: 300px;
    }
  }

  &_containerCategories
  {
    height: 400px;
  }
  
  h2
  {
    @include typographyBuilder(700, 32, 48);
    margin-bottom: 0;
  }
  
  &_link
  {
    @include flex(row-reverse, center, flex-end);
    width: fit-content;
  }
  
  &_name
  {
    @include typography_builder(500, 20, 24);
    width: 100%;
    color: $color_text;

    &:hover
    {
      outline-color: $color_text;
    }
    
    span
    {
      display: inline-block;
      @include typographyBuilder(400, 12, 16);
      margin-left: 8px;
    }
  }

  &_media,
  &_mediaCategories
  {
    @include position(absolute, 0, auto, auto, 30%);
    width: 70%;
    pointer-events: none;
    
    &:empty
    {
      z-index: 2;
      visibility: hidden;
      width: 70%;
      height: 265px;
      background-color: $color_white ;
    }
  }

  &_mediaCategories
  {
    @include position(absolute, 200px, 0, 0, 0);
    width: 100%;
    z-index: 2;

    &:empty
    {
      width: 100%;
    }
  }

  &_mediaList
  {
    display: none;
  }

  &_seeAll
  {
    @include flex(row, center, flex-start);
    margin-top: 16px;
    cursor: pointer;
    
    p
    {
      @include typographyBuilder(500, 16, 24);
      text-transform: capitalize;
      margin-bottom: 0;
    }

    &:hover
    {
      opacity: 0.6;
    }

    &:after
    {
      display: block;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.129 5.25L5.106 1.227L6.1665 0.166504L12 6L6.1665 11.8335L5.106 10.773L9.129 6.75H0V5.25H9.129Z' fill='%23222222'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      margin-left: 11px; 
    }
  }

  &_image
  {
    visibility: hidden;
    width: 100%;
    height: auto;
    max-height: 265px;
    object-fit: cover;
  }

  &_item,
  &_itemCategories
  {
    list-style: none;
    width: calc(30% - 24px);
    height: 24px;
    margin-bottom: 20px;

    &:last-child
    {
      margin-bottom: 16px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color_elements_line_darker;
      height: fit-content;
    }

    &:first-child,
    &:hover
    {
      [class*="_image"],
      [class*="_media"]
      {
        visibility: visible;
      }
    }

    &:not(:first-child)
    {
      z-index: 2;
    }
  }

  &_itemCategories
  {
    width: fit-content;

    &:last-child
    {
      border: none;
    }
  }
  
  &_itemList
  {
    @extend .productCategory_item;
    width: 100%;
    margin-bottom: 16px;

    &:last-child
    {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &_nameList
  {
    @extend .productCategory_name;
    @include typographyBuilder(400, 16, 24);
    width: 100%;
  }

  &_containerList
  {
    margin: 18px 18px 0 18px;
    border-bottom: none;
    width: calc(100% - 36px);

    h2
    {
      @include typographyBuilder(700, 16, 24);
      margin-bottom: 0;
    }
  }
  
  &_selectedCategory
  {
    [class*="_nameList"]
    {
      @include typographyBuilder(700, 16, 24);
    }
  }

  &_placeholderList
  {
    width: 100%;
    height: 30px;
    margin: 8px 0;

    &:nth-child(even)
    {
      width: 70%;
    }
  }

  @media (max-width: #{$breakpoint_min_sm}) 
  {
    &_sectionCategories
    {
      @include flex(column, flex-start, flex-start);
    }
    
    &_container
    {
      margin: 24px 0 87px;
    }

    &_containerCategories
    {
      height: 100%;
    }

    &_item
    {
      width: 100%;
    }

    &_media,
    &_mediaCategories
    {
      display: none;
    }
  }
}
