@import '../utils/variables';

.products
{
  &_listContainer
  {
    padding: 0 !important;
  }

  &_productContainer
  {
    position: relative;
    height: fit-content;
    cursor: pointer;
  }
  
  &_label
  {
    @include typography_builder(500, 10, 16);
    @include absolute(0, 0, auto, auto);
    z-index: 2;
    padding: 5px 7px;
    text-align: center;
  }
  
  &_outOfStockLabel
  {
    background: $color_text;
    color:  $color_white;
  }

  &_saleLabel
  {
    background: $color_red;
    color:  $color_white;
  }

  &_comingSoonLabel
  {
    background: $color_text;
    color:  $color_white;
  }

  &_openOrderLabel
  {
    background: $color_text;
    color:  $color_white;
  }

  &_preOrderLabel
  {
    background: $color_text;
    color:  $color_white;
  }
  
  &_newLabel
  {
    background: $color_text;
    color:  $color_white;
  }

  &_productImage
  {
    width: 100%;
    min-height: 120px;
  }

  
  &_productImageContainer
  {
    display: flex;
    height: fit-content;
    position: relative;

    &:hover
    {
      &::before
      {
        @include position(absolute, 0, 0, 0, 0);
        content: "";
        pointer-events: none;
        background: rgba(0, 0, 0, 0.05);
        height: 100%;
        width: 100%;
      }
      
      &::after
      {
        @include position(absolute, 50%, 50%);
        content: "";
        transform: translate(50%,-50%);
        pointer-events: none;
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' rx='1.5' fill='white' fill-opacity='0.5'/%3E%3Cpath d='M19.9998 11.6667C24.6023 11.6667 28.3332 15.3975 28.3332 20C28.3332 24.6025 24.6023 28.3334 19.9998 28.3334C15.3973 28.3334 11.6665 24.6025 11.6665 20C11.6665 15.3975 15.3973 11.6667 19.9998 11.6667ZM19.9998 13.3334C18.2317 13.3334 16.536 14.0357 15.2858 15.286C14.0355 16.5362 13.3332 18.2319 13.3332 20C13.3332 21.7681 14.0355 23.4638 15.2858 24.7141C16.536 25.9643 18.2317 26.6667 19.9998 26.6667C21.7679 26.6667 23.4636 25.9643 24.7139 24.7141C25.9641 23.4638 26.6665 21.7681 26.6665 20C26.6665 18.2319 25.9641 16.5362 24.7139 15.286C23.4636 14.0357 21.7679 13.3334 19.9998 13.3334ZM19.9998 15.8334C20.877 15.8337 21.7317 16.1108 22.4421 16.6253C23.1525 17.1398 23.6825 17.8653 23.9565 18.6986C24.2304 19.5319 24.2344 20.4304 23.9679 21.266C23.7014 22.1017 23.178 22.832 22.4721 23.3528C21.7663 23.8736 20.9142 24.1583 20.037 24.1665C19.1599 24.1747 18.3026 23.9058 17.5872 23.3983C16.8718 22.8907 16.3349 22.1703 16.0528 21.3397C15.7708 20.5091 15.7581 19.6107 16.0165 18.7725C16.2114 19.2081 16.5501 19.5635 16.9757 19.7793C17.4014 19.9951 17.8882 20.0581 18.3548 19.9579C18.8214 19.8577 19.2394 19.6002 19.5388 19.2286C19.8383 18.8571 20.001 18.3939 19.9998 17.9167C19.9999 17.5154 19.8842 17.1226 19.6664 16.7856C19.4487 16.4485 19.1382 16.1815 18.7723 16.0167C19.1607 15.8975 19.5723 15.8334 19.9998 15.8334Z' fill='%23222222'/%3E%3Crect x='0.5' y='0.5' width='39' height='39' rx='1.5' stroke='%23E5E7EF'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-color: transparent;
      }
    }
  }

  &_productLabelContainer
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 0 0;
    max-width: 250px;
  }

  &_productTitle
  {
    @include truncate(2);
    @include typography_builder(500, 16, 24);
    text-transform: capitalize;
    margin-bottom: 4px;
  }
  
  &_productPrice
  {
    @include typography_builder(400, 12, 16);
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
  
  &_salePrice
  {
    @include typography_builder(400, 12, 16);
    color: $color_light_black;
    text-decoration: line-through;
    margin-right: .25rem;  
  }
  
  &_price
  {
    @include typography_builder(700, 12, 18);
    color: $color_red;
  }

  &_placeholder
  {
    width: 100%;
    height: 200px;
  }

  &_placeholderFlexNoWrap
  {
    width: 180px;
    height: 200px;
  }
  
  &_placeholderList
  {
    width: 100%;
    height: 30px;
    margin: 8px 0;

    &:nth-child(even)
    {
      width: 70%;
    }
  }

  &_emptyContainer
  {
    @include flex(column, center, center);
    min-height: 50vh;

    p
    {
      @include typographyBuilder(400, 16, 24);
      color: $color_elements_placeholder;
    }
  }

  &_iconEmpty
  {
    @include fixedSize(20px);
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9 13V15H11V13H9ZM11 11.355C11.8037 11.1128 12.4936 10.59 12.9442 9.88174C13.3947 9.17353 13.5759 8.32705 13.4547 7.49647C13.3336 6.66588 12.9181 5.90644 12.284 5.35646C11.6499 4.80647 10.8394 4.50254 10 4.5C9.19085 4.49994 8.40666 4.78015 7.78079 5.29299C7.15492 5.80583 6.72601 6.51963 6.567 7.313L8.529 7.706C8.58468 7.42743 8.71832 7.1704 8.91437 6.96482C9.11042 6.75923 9.36081 6.61354 9.63643 6.54471C9.91204 6.47587 10.2015 6.48671 10.4712 6.57597C10.7409 6.66523 10.9797 6.82924 11.1598 7.04891C11.34 7.26858 11.454 7.53489 11.4887 7.81684C11.5234 8.0988 11.4773 8.3848 11.3558 8.64158C11.2343 8.89837 11.0423 9.11536 10.8023 9.26733C10.5623 9.4193 10.2841 9.49998 10 9.5C9.73478 9.5 9.48043 9.60536 9.29289 9.79289C9.10536 9.98043 9 10.2348 9 10.5V12H11V11.355Z' fill='%23CFD4D9'/%3E%3C/svg%3E%0A");
  }

  @media (max-width: #{$breakpoint_min_sm}) 
  {
    &_placeholderFlexNoWrap
    {
      width: calc(2/6 * 100vw);  
    }

    &_price,
    &_productPrice,
    &_label
    {
      @include typography_builder(400, 12, 18);
    }

    &_productPrice
    {
      flex-direction: column;
    }
  }
}

