@import '../utils/_variables.scss';
@import './Form.module.scss';

.searchContainer
{ 
  @include position(fixed, 0, 0, auto, 300px);
  @include fixedHeight(164px);
  @include transition();
  background-color: $color_white;
  padding: 24px 42px;
  border-radius: 2px;
  margin-top: 0 !important;
  z-index: 1050;
  transform: translateY(-100%);
}

.animateShow
{
  transform: translateY(0);
}

.animateHide
{
  transform: translateY(-100%);
}

.title
{
  @include ExtraLargeReguler;
  margin-bottom: 16px;
}

.iconClose
{
  @include position(absolute, auto, 56px, auto, auto);
  cursor: pointer;
}

.searchInputContainer
{
  @include flex(row, center, flex-start);
  width: 100%;
  height: 60px;
}

.searchInput
{
  @include flex(row, center, flex-start);
  position: relative;
  width: calc(100% - 76px);
  margin-right: 16px;

  input
  {
    @extend .form_control;
    @extend .form_input;
    padding: 0 22px;
    margin-bottom: 0;
    width: 100%;
    height: 60px;
  }
}

.searchClear
{
  @include position(absolute, auto, 25px);
  cursor: pointer;
}
.searchButton
{
  @include fixedHeight(100%);
  @include buttonVariant($color_white, $color_black, $color_black);
  @include fixedSize(60px);
  border-radius: 2px;
}

@media (max-width: #{$breakpoint_min_sm}) 
{ 
  .searchContainer
  { 
    @include position(fixed, 0, 0, auto, 0);
  }

  .searchContainer
  {
    padding: 24px 18px;
  }

  .iconClose
  {
    @include position(absolute, 30px, 25px, auto, auto);
    cursor: pointer;

    svg 
    {
      width: 16px;
    }
  }
  
  .searchInput
  {
    @include flex(row, center, flex-start);
    position: relative;
    width: calc(100% - 76px);
  }
}