@import "../utils/_grid.scss";
@import "../utils/_variables.scss";


.secondAdvertisement
{
    margin: 24px 0 0;

    &_container
    {
        @extend .grid;
        @include grid-(1);
        @include gap-y-(24px);
        width: 100% !important;
    }

    &_item
    {
        width: 100% !important;

        img
        {
            cursor: pointer;
            width: 100% !important;
            height: auto;
        }
        
        iframe
        {
            width: 100% !important;
            height: 335px;
        }
    }

    &_placeholder
    {
        width: 100%;
        height: 300px;
    }

    @media (max-width: #{$breakpoint_min_sm}) 
    {
        margin: 24px 0 0;

        &_container
        {
            @include grid-(1);
            @include gap-y-(24px);
        }
    }
}