@import '../utils/variables';

.title
{
    @include flex(row, center, flex-start);
    @include typographyBuilder(400, 12, 16);
    position: relative;
    margin: 0;
    padding: 0;
    color: $color_black;

    & + [class*="icons"]
    {
        margin-top: 12px;
    }
}

.container
{
    @include flex(column, flex-start, flex-start);
    position: relative;
    margin: 0;
    padding: 0;
}

.icons
{
    @include transition();
    @include flex(row, center, flex-start, true);
    position: relative;
    margin: 0 0 12px;
    padding: 0;
}

.icon
{
    @include transition();
    @include flex(row, center, center);
    @include fixedSize(32px);
    position: relative;
    margin: 0;
    padding: 0;

    text-decoration: none;
    box-shadow: 0 0 0 transparent;
    color: $color_placeholder;
    
    &:hover,
    &:focus,
    &:active
    {
        outline: none;
        box-shadow: 0 0 0 transparent;
    }

    &:hover
    {
        color: $color_black;

        &[href*="facebook.com"]
        {
            color: $color_facebook;
        }

        &[href*="twitter.com"]
        {
            color: $color_twitter;
        }

        &[href*="tiktok.com"]
        {
            color: $color_tiktok;
        }

        &[href*="youtube.com"]
        {
            color: $color_youtube;
        }
    }

    &[href*="instagram.com"]
    {
        svg
        {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        &::before,
        &::after
        {
            content: "";
            @include transition();
            @include flex(row, center, center);
            @include fixedSize(32px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            margin: 0;
            padding: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &::before
        {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5391 4.66234C16.5391 3.99765 16.0004 3.46094 15.3382 3.46094C14.6759 3.46094 14.1367 3.99765 14.1367 4.66234C14.1367 5.32459 14.6759 5.8613 15.3382 5.8613C16.0004 5.8613 16.5391 5.32459 16.5391 4.66234Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M18.1388 14.0404C18.0943 15.0154 17.9312 15.5452 17.7958 15.8971C17.614 16.3636 17.397 16.6972 17.0451 17.0471C16.6972 17.397 16.3636 17.6135 15.8971 17.7933C15.5452 17.9308 15.0134 18.0943 14.0384 18.1408C12.9843 18.1872 12.6719 18.1971 9.99876 18.1971C7.32809 18.1971 7.01325 18.1872 5.95911 18.1408C4.98407 18.0943 4.45478 17.9308 4.10288 17.7933C3.63389 17.6135 3.30279 17.397 2.95289 17.0471C2.60051 16.6972 2.38356 16.3636 2.20417 15.8971C2.06873 15.5452 1.9032 15.0154 1.86116 14.0404C1.80979 12.9862 1.80038 12.6689 1.80038 10.0012C1.80038 7.32809 1.80979 7.01325 1.86116 5.95911C1.9032 4.98407 2.06873 4.45478 2.20417 4.09991C2.38356 3.63389 2.60051 3.30227 2.95289 2.95237C3.30279 2.60299 3.63389 2.38601 4.10288 2.20417C4.45478 2.06628 4.98407 1.90516 5.95911 1.85872C7.01325 1.81224 7.32809 1.80038 9.99876 1.80038C12.6719 1.80038 12.9843 1.81224 14.0384 1.85872C15.0134 1.90516 15.5452 2.06628 15.8971 2.20417C16.3636 2.38601 16.6972 2.60299 17.0451 2.95237C17.397 3.30227 17.614 3.63389 17.7958 4.09991C17.9312 4.45478 18.0943 4.98407 18.1388 5.95911C18.1877 7.01325 18.1996 7.32809 18.1996 10.0012C18.1996 12.6689 18.1877 12.9862 18.1388 14.0404ZM19.9392 5.87709C19.8903 4.81157 19.7222 4.0836 19.4727 3.44956C19.2187 2.79177 18.8781 2.2343 18.3207 1.67684C17.7657 1.12186 17.2082 0.78134 16.5504 0.524364C15.9139 0.27725 15.1884 0.107231 14.1224 0.0607872C13.0564 0.00937843 12.7159 0 9.99876 0C7.28409 0 6.94112 0.00937843 5.87512 0.0607872C4.81157 0.107231 4.08657 0.27725 3.44708 0.524364C2.79176 0.78134 2.2343 1.12186 1.67932 1.67684C1.12186 2.2343 0.781338 2.79177 0.524846 3.44956C0.277731 4.0836 0.109714 4.81157 0.0583038 5.87709C0.0118609 6.94309 0 7.28409 0 10.0012C0 12.7159 0.0118609 13.0564 0.0583038 14.1224C0.109714 15.1859 0.277731 15.9134 0.524846 16.5504C0.781338 17.2058 1.12186 17.7657 1.67932 18.3207C2.2343 18.8757 2.79176 19.2187 3.44708 19.4752C4.08657 19.7222 4.81157 19.8903 5.87512 19.9392C6.94112 19.9881 7.28409 20 9.99876 20C12.7159 20 13.0564 19.9881 14.1224 19.9392C15.1884 19.8903 15.9139 19.7222 16.5504 19.4752C17.2082 19.2187 17.7657 18.8757 18.3207 18.3207C18.8781 17.7657 19.2187 17.2058 19.4727 16.5504C19.7222 15.9134 19.8903 15.1859 19.9392 14.1224C19.9881 13.0564 20 12.7159 20 10.0012C20 7.28409 19.9881 6.94309 19.9392 5.87709Z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M9.99902 13.3317C8.15909 13.3317 6.6661 11.8411 6.6661 10.0012C6.6661 8.15833 8.15909 6.66585 9.99902 6.66585C11.8395 6.66585 13.3344 8.15833 13.3344 10.0012C13.3344 11.8411 11.8395 13.3317 9.99902 13.3317ZM9.99902 4.86299C7.16278 4.86299 4.86572 7.16498 4.86572 10.0012C4.86572 12.835 7.16278 15.1346 9.99902 15.1346C12.8353 15.1346 15.1348 12.835 15.1348 10.0012C15.1348 7.16498 12.8353 4.86299 9.99902 4.86299Z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.180888' y1='19.7932' x2='18.3347' y2='1.63948' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD521'/%3E%3Cstop offset='0.05' stop-color='%23FFD521'/%3E%3Cstop offset='0.501119' stop-color='%23F50000'/%3E%3Cstop offset='0.95' stop-color='%23B900B4'/%3E%3Cstop offset='0.950079' stop-color='%23B900B4'/%3E%3Cstop offset='1' stop-color='%23B900B4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='0.180397' y1='19.8181' x2='18.3491' y2='1.64941' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD521'/%3E%3Cstop offset='0.05' stop-color='%23FFD521'/%3E%3Cstop offset='0.501119' stop-color='%23F50000'/%3E%3Cstop offset='0.95' stop-color='%23B900B4'/%3E%3Cstop offset='0.950079' stop-color='%23B900B4'/%3E%3Cstop offset='1' stop-color='%23B900B4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='0.185368' y1='19.8186' x2='18.3497' y2='1.65427' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD521'/%3E%3Cstop offset='0.05' stop-color='%23FFD521'/%3E%3Cstop offset='0.501119' stop-color='%23F50000'/%3E%3Cstop offset='0.95' stop-color='%23B900B4'/%3E%3Cstop offset='0.950079' stop-color='%23B900B4'/%3E%3Cstop offset='1' stop-color='%23B900B4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

            opacity: 0;
        }

        &::after
        {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5391 4.66234C16.5391 3.99765 16.0004 3.46094 15.3382 3.46094C14.6759 3.46094 14.1367 3.99765 14.1367 4.66234C14.1367 5.32459 14.6759 5.8613 15.3382 5.8613C16.0004 5.8613 16.5391 5.32459 16.5391 4.66234Z' fill='%23D0D0D0'/%3E%3Cpath d='M18.1388 14.0404C18.0943 15.0154 17.9312 15.5452 17.7958 15.8971C17.614 16.3636 17.397 16.6972 17.0451 17.0471C16.6972 17.397 16.3636 17.6135 15.8971 17.7933C15.5452 17.9308 15.0134 18.0943 14.0384 18.1408C12.9843 18.1872 12.6719 18.1971 9.99876 18.1971C7.32809 18.1971 7.01325 18.1872 5.95911 18.1408C4.98407 18.0943 4.45478 17.9308 4.10288 17.7933C3.63389 17.6135 3.30279 17.397 2.95289 17.0471C2.60051 16.6972 2.38356 16.3636 2.20417 15.8971C2.06873 15.5452 1.9032 15.0154 1.86116 14.0404C1.80979 12.9862 1.80038 12.6689 1.80038 10.0012C1.80038 7.32809 1.80979 7.01325 1.86116 5.95911C1.9032 4.98407 2.06873 4.45478 2.20417 4.09991C2.38356 3.63389 2.60051 3.30227 2.95289 2.95237C3.30279 2.60299 3.63389 2.38601 4.10288 2.20417C4.45478 2.06628 4.98407 1.90516 5.95911 1.85872C7.01325 1.81224 7.32809 1.80038 9.99876 1.80038C12.6719 1.80038 12.9843 1.81224 14.0384 1.85872C15.0134 1.90516 15.5452 2.06628 15.8971 2.20417C16.3636 2.38601 16.6972 2.60299 17.0451 2.95237C17.397 3.30227 17.614 3.63389 17.7958 4.09991C17.9312 4.45478 18.0943 4.98407 18.1388 5.95911C18.1877 7.01325 18.1996 7.32809 18.1996 10.0012C18.1996 12.6689 18.1877 12.9862 18.1388 14.0404ZM19.9392 5.87709C19.8903 4.81157 19.7222 4.0836 19.4727 3.44956C19.2187 2.79177 18.8781 2.2343 18.3207 1.67684C17.7657 1.12186 17.2082 0.78134 16.5504 0.524364C15.9139 0.27725 15.1884 0.107231 14.1224 0.0607872C13.0564 0.00937843 12.7159 0 9.99876 0C7.28409 0 6.94112 0.00937843 5.87512 0.0607872C4.81157 0.107231 4.08657 0.27725 3.44708 0.524364C2.79176 0.78134 2.2343 1.12186 1.67932 1.67684C1.12186 2.2343 0.781338 2.79177 0.524846 3.44956C0.277731 4.0836 0.109714 4.81157 0.0583038 5.87709C0.0118609 6.94309 0 7.28409 0 10.0012C0 12.7159 0.0118609 13.0564 0.0583038 14.1224C0.109714 15.1859 0.277731 15.9134 0.524846 16.5504C0.781338 17.2058 1.12186 17.7657 1.67932 18.3207C2.2343 18.8757 2.79176 19.2187 3.44708 19.4752C4.08657 19.7222 4.81157 19.8903 5.87512 19.9392C6.94112 19.9881 7.28409 20 9.99876 20C12.7159 20 13.0564 19.9881 14.1224 19.9392C15.1884 19.8903 15.9139 19.7222 16.5504 19.4752C17.2082 19.2187 17.7657 18.8757 18.3207 18.3207C18.8781 17.7657 19.2187 17.2058 19.4727 16.5504C19.7222 15.9134 19.8903 15.1859 19.9392 14.1224C19.9881 13.0564 20 12.7159 20 10.0012C20 7.28409 19.9881 6.94309 19.9392 5.87709Z' fill='%23D0D0D0'/%3E%3Cpath d='M9.99902 13.3317C8.15909 13.3317 6.6661 11.8411 6.6661 10.0012C6.6661 8.15833 8.15909 6.66585 9.99902 6.66585C11.8395 6.66585 13.3344 8.15833 13.3344 10.0012C13.3344 11.8411 11.8395 13.3317 9.99902 13.3317ZM9.99902 4.86299C7.16278 4.86299 4.86572 7.16498 4.86572 10.0012C4.86572 12.835 7.16278 15.1346 9.99902 15.1346C12.8353 15.1346 15.1348 12.835 15.1348 10.0012C15.1348 7.16498 12.8353 4.86299 9.99902 4.86299Z' fill='%23D0D0D0'/%3E%3C/svg%3E%0A");

            opacity: 1;
        }

        &:hover
        {
            &::after
            {
                opacity: 0;
            }

            &::before
            {
                opacity: 1;
            }
        }
    }
}