@import '../utils/_variables.scss';
@import './Buttons.module.scss';


.container
{
  @include flex(column, center, flex-start);
  @include fixedWidth(100%);
  padding: 24px 16px;
  border-top: 4px solid $color_green;
  border-radius: 2px 2px 0 0,
}

.title
{
  @include LargeSemiBold;
  text-align: center;
  margin-bottom: 24px;
}

.detail
{
  @include flex(row, center, left);
  width: 100%;
  padding: 10px;
  background-color: $color_elements;
  border-radius: 2px;
}

.detailTitle
{
  @include RegulerSemiBold; 
}


.detailPrice
{
  @include SmallSmall;
  color: $color_text_secondary;
}


.detailSale
{
  @include SmallSmall;
  text-decoration: line-through;
  color: $color_light_black;
  
  & ~ p
  {
    @include RegulerSemiBold;
    color: $color_red !important;
  }
}

.footer
{
  @extend .grid;
  @include grid-(1);
  @include gap-y-(8px);
  @include fixedWidth(100%);
  
  margin-top: 16px;
}

.continueShoppingBtn
{
  @extend .btn;
  @extend .btn_text;
  @include RegulerReguler;
  width: 100%;
}

.viewCartBtn
{
  @extend .btn;
  @extend .btn_primary;
  @include RegulerReguler;
  width: 100%;
}

.image
{
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: 0 0;
  margin-right: 12px;
  border-radius: 6px;
}